@charset "utf-8";
.dt-mega-menu .sub-nav .dt-mega-parent:hover > a,
.shortcode-teaser.frame-on.img-full,
.widget_product_search #searchsubmit,
.style-ios .filter-categories a,
.style-ios .filter-sorting,
.style-ios .paginator:not(.paginator-more-button) a,
.bg-on.team-container:not(.fullwidth-img) {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#header .mini-search .field {
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  -ms-border-radius: 0px !important;
  -o-border-radius: 0px !important;
  border-radius: 0px !important;
  -moz-background-clip: padding !important;
  -webkit-background-clip: padding-box !important;
  background-clip: padding-box !important;
}
.widget .team-container img,
.navig div,
.wc-ico-cart > span,
#page .rsBullet:after,
.single .entry-tags a:after,
.entry-author .alignleft img,
.entry-author img.alignleft,
#page .rsBullet span,
.custom-nav > li li a:before,
.standard-arrow li:before,
.photo-scroller .share-button,
.photo-scroller .btn-project-link,
.round-images .rollover i,
.round-images a.rollover,
.round-images img,
.round-images .blur-effect,
.testimonial-vcard .rollover i,
.comment-author .rollover i,
.comment-author .rollover,
.dl-menuwrapper li.has-children .next-level:after,
.dl-menuwrapper li.has-children > a:after,
.arrows-dark .prev i,
.arrows-dark .next i,
.arrows-light .prev i,
.arrows-light .next i,
.testimonial-vcard .alignleft div,
.vc_box_circle img,
.vc_box_circle i,
.vc_box_circle .blur-effect,
.next-level-button,
.photoSlider .video-icon,
.testimonial-vcard img,
.testimonial-vcard .alignleft,
.comment-author .avatar,
.standard-number-list li:before,
.standard-number-list.list-divider li:first-child:before,
.tp-bullets.custom .bullet:before,
.links-container > a,
.links-container > a > span,
.round-images .alignleft,
.round-images .alignleft img,
.round-images .alignleft i,
.clear-form:before,
.soc-ico a,
.rollover-thumbnails span,
.rollover-thumbnails span img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#main .flex-control-paging li a,
#page .ls-defaultskin .ls-bottom-slidebuttons a {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#main .flex-control-paging li a:after,
#page .ls-defaultskin .ls-bottom-slidebuttons a:after,
.edit-link {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#page .ls-defaultskin .ls-nav-start,
#page .ls-defaultskin .ls-nav-stop {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.customSelect,
blockquote,
.entry-author,
.format-aside-content,
.format-status-content,
.format-link-content,
.dl-menuwrapper,
.project-media,
.project-content,
.ngg-imagebrowser img,
.page-links,
.paginator a,
.page-nav,
.filter-categories,
.filter-extras,
.filter-by,
.filter-sorting,
.filter-categories a,
.box-style-table .action-button,
.shortcode-tabs .tab,
.tab-style-one.tab-horizontal .tab-inner-content,
.shortcode-table,
.content .shortcode-table,
.shortcode-single-image,
.shortcode-banner-inside,
.shortcode-banner,
.fs-entry-content,
.rollover-content,
.fs-entry-slide,
.dt-format-gallery a,
.dt-format-gallery .rollover-video,
#main .minimal .plan,
#main #pricing-table .plan,
.wpb_tour.tab-style-two .wpb_tabs_nav,
.wpb_tour.tab-style-one .wpb_tabs_nav,
.wpb_tour.tab-style-three .wpb_tabs_nav,
#main #content .rotatingtweet,
.mfp-container,
img.mfp-img,
.mfp-img-mobile .mfp-bottom-bar,
.soc-ico a,
.cs-style-3 .rollover-content-wrap,
.fancy-date a,
.comment-form .form-fields > span,
.commentlist .comment > article,
.hover-style-two:not(.hover-color-static) .links-container > a,
.buttons-on-img .links-container > a,
.slider-link,
.photo-scroller .ts-slide,
.photo-scroller .scroller-thumbnails .ts-cell,
.paginator a,
.bg-on .fs-entry-slide,
.tp-bullets.custom .bullet:before,
.pace .pace-activity:before,
.pace .pace-activity:after,
.header-bottom-bar .wf-container-top,
.overlay-door,
.slider-post-inner .share-button.entry-share,
.images-list-inner .share-button.entry-share,
.photo-scroller .slide-caption,
.rsVideoContainer.rsIOSVideo iframe,
.rsVideoContainer.rsIOSVideo video,
.rsVideoContainer.rsIOSVideo embed,
.header-side-left.footer-overlap #footer,
.header-side-right.footer-overlap #footer,
.ripple span {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#header.sub-downwards #main-nav:not(.text-center):not(.text-right) .sub-nav {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html:not(.mobile-true) #main img:not(.animate-element,
.ls-s-1),
html:not(.mobile-true) #header img,
html:not(.mobile-true) #bottom-bar img {
  -webkit-transition: opacity 1000ms ease;
  -moz-transition: opacity 1000ms ease;
  -ms-transition: opacity 1000ms ease;
  -o-transition: opacity 1000ms ease;
}
html:not(.mobile-true) #main .benefits-grid-ico.animate-element img,
html:not(.mobile-true) #main .wpb_revslider_element img,
html:not(.mobile-true) .pp_content img,
html:not(.mobile-true) #page .widget_shopping_cart_content img,
html:not(.mobile-true) #page .grav-grav img,
html:not(.mobile-true) #page .comment-gravatar img,
html:not(.mobile-true) #shWrap img,
html:not(.mobile-true) #page .royalSlider img,
.lightbox.useJS .close,
div.lightbox.useJS .img-caption,
.hover-grid .rollover-content,
.no-touch .text-on-img.hover-grid .fs-entry-content,
.hover-style-one .rollover-thumbnails,
.hover-style-two .rollover-thumbnails,
.hover-style-three .rollover-thumbnails {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
}
.dl-menuwrapper .dl-menu.dl-menu-toggle {
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
}
.no-touch .links-container > a,
.share-button.entry-share,
.btn-project-link,
.share-overlay .soc-ico a,
.filter a:after,
.button-load-more .h5-size,
.btn-light,
.slider-link {
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
}
.phantom-fade #phantom {
  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -ms-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
}
#phantom .ph-wrap {
  -webkit-transition: background-color 500ms ease;
  -moz-transition: background-color 500ms ease;
  -ms-transition: background-color 500ms ease;
  -o-transition: background-color 500ms ease;
}
#main-nav.underline-hover > li > a i.underline {
  -webkit-transition: all 300ms cubic-bezier(0.175,0.885,0.32,1.275);
  -moz-transition: all 300ms cubic-bezier(0.175,0.885,0.32,1.275);
  -ms-transition: all 300ms cubic-bezier(0.175,0.885,0.32,1.275);
  -o-transition: all 300ms cubic-bezier(0.175,0.885,0.32,1.275);
}
.entry-meta a,
.portfolio-categories a {
  -webkit-transition: all 0.05s linear 0.05s;
  -moz-transition: all 0.05s linear 0.05s;
  -ms-transition: all 0.05s linear 0.05s;
  -o-transition: all 0.05s linear 0.05s;
}
.custom-nav > li > a,
.custom-nav > li > a:before,
.custom-menu a,
.widget_tag_cloud a {
  -webkit-transition: all 0.05s linear;
  -moz-transition: all 0.05s linear;
  -ms-transition: all 0.05s linear;
  -o-transition: all 0.05s linear;
}
html:not(.mobile-true) .skill-value {
  -webkit-transition: width 1200ms ease;
  -moz-transition: width 1200ms ease;
  -ms-transition: width 1200ms ease;
  -o-transition: width 1200ms ease;
}
.grid-ready .borders {
  -webkit-transition: height 0.2s linear;
  -moz-transition: height 0.2s linear;
  -ms-transition: height 0.2s linear;
  -o-transition: height 0.2s linear;
}
.ts-viewport {
  -webkit-transition: height 150ms;
  -moz-transition: height 150ms;
  -ms-transition: height 150ms;
  -o-transition: height 150ms;
}
.no-touch .text-on-img:not(.hover-grid) .fs-entry-content,
.no-touch .link.act,
.link.act i,
.rollover-project > a.act i,
.no-touch .hover-style-two .rollover-content,
.buttons-on-img .rollover-content,
.no-touch .hover-style-one .rollover-content,
.no-touch .hover-style-three .rollover-content,
.no-touch .fs-entry-img i,
.logo-items li a,
.scroll-top,
.no-touch .cs-style-3 .links-container,
.cs-style-3 .rollover-project .rollover-thumbnails,
.photo-scroller .ts-slide .ts-slide-img,
.photo-scroller .ts-cell .ts-slide-img,
.project-navigation a,
.btn-cntr a,
.fs-entry-content.buttons-on-img,
.slider-wrapper .prev,
.slider-wrapper .next,
.slider-wrapper .prev i,
.slider-wrapper .next i,
.full-width-wrap,
.twentytwenty-before-label,
.twentytwenty-after-label,
.photo-scroller .scroller-thumbnails .ts-thumb-img:after,
.photoSlider .video-icon,
.logos-grid a,
#main-nav.menu-material-style > li > a:before,
#main-nav.menu-material-underline-style > li > a:before {
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
}
.rollover i,
.post-rollover i,
.rollover-video i:after,
.rollover-project .link i,
.rollover-thumbnails,
.rollover-video .video-icon,
.rollover-video i,
.rollover-content-container,
.hover-style-two .links-container,
.hover-style-one .links-container,
.hover-style-two .rollover-thumbnails,
.hover-style-one .rollover-thumbnails,
.hover-style-one .rollover-project > a:after,
.hover-style-three .rollover-project > a:after,
.hover-style-three .fs-entry-img:after,
.hover-style-one .fs-entry-img:after,
a.no-avatar {
  -webkit-transition: all 450ms ease;
  -moz-transition: all 450ms ease;
  -ms-transition: all 450ms ease;
  -o-transition: all 450ms ease;
}
a.benefits-grid-ico {
  -webkit-transition: background-color 250ms ease;
  -moz-transition: background-color 250ms ease;
  -ms-transition: background-color 250ms ease;
  -o-transition: background-color 250ms ease;
}
a.benefits-grid-ico > .fa,
a.benefits-grid-ico > .fa:before {
  -webkit-transition: color 250ms ease;
  -moz-transition: color 250ms ease;
  -ms-transition: color 250ms ease;
  -o-transition: color 250ms ease;
}
.no-touch .fs-entry-img .blur-effect,
.no-touch .blur-this .blur-effect,
.no-touch .blur-this canvas,
.blur-this .blur-effect {
  -webkit-transition: opacity 300ms ease;
  -moz-transition: opacity 300ms ease;
  -ms-transition: opacity 300ms ease;
  -o-transition: opacity 300ms ease;
}
.cs-style-3 .links-container {
  -webkit-transition: opacity 0.1s 0.3s;
  -moz-transition: opacity 0.1s 0.3s;
  -ms-transition: opacity 0.1s 0.3s;
  -o-transition: opacity 0.1s 0.3s;
}
.dl-menuwrapper .dl-menu {
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  -ms-transform: translateY(10px);
  -o-transform: translateY(10px);
}
.dl-menuwrapper .dl-menu.dl-menuopen {
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
}
.no-js .dl-menuwrapper .dl-menu,
.useJS .container-1,
.useJS .container-2,
.useJS .container-3,
.useJS .container .photo.show,
.useJS .container .l3,
.no-touch .scale-on-hover .hover-style-three a.rollover:hover > img {
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
}
.ts-viewport {
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  -ms-transform: translatez(0);
  -o-transform: translatez(0);
}
#page.boxed {
  -webkit-box-shadow: 0 0 12px rgba(0,0,0,0.15);
  -moz-box-shadow: 0 0 12px rgba(0,0,0,0.15);
  box-shadow: 0 0 12px rgba(0,0,0,0.15);
}
#main .chzn-container-single .chzn-single,
.dt-mega-menu .dt-mega-parent .sub-nav,
.dt-mega-menu .dt-mega-parent .sub-nav ul,
.is-webkit.overlap #main,
#main button.button,
#main input.button,
.jp-carousel-comment-form-button,
.mejs-controls button,
#main .minimal .p1 h4,
#main .flexslider,
#main .flex-control-paging li a,
#page .ls-defaultskin,
button.mfp-close,
button.mfp-arrow,
.wpb-js-composer div.pp_default .pp_expand,
.wpb-js-composer div.pp_default .pp_contract,
.btn-3d button.mfp-close,
.btn-3d button.mfp-arrow,
.dt-style.vc_progress_bar .vc_single_bar,
.style-ios #page .tab-style-two .wpb_tabs_nav li,
.style-ios .wpb_content_element.tab-style-one .wpb_tabs_nav > li.ui-state-active,
#header .soc-ico.hover-custom-bg a:hover,
#header .soc-ico.accent-bg.hover-custom-bg a:hover,
#header .soc-ico.hover-custom-bg a:hover,
.accent-gradient #header .soc-ico.gradient-bg.hover-custom-bg a:hover,
#header .soc-ico.hover-accent-bg a:hover,
#header .soc-ico.hover-disabled-bg a:hover,
.transparent #header:not(.logo-side) {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#header .mini-search .field {
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.2);
}
#phantom .ph-wrap {
  -webkit-box-shadow: 0 0 6px rgba(0,0,0,0.25);
  -moz-box-shadow: 0 0 6px rgba(0,0,0,0.25);
  box-shadow: 0 0 6px rgba(0,0,0,0.25);
}
.sub-nav > ul {
  -webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 4px rgba(0,0,0,0.2);
}
.dl-container > ul {
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.15);
  box-shadow: 0px 0px 3px rgba(0,0,0,0.15);
}
.rollover-thumbnails span {
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.15);
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.15);
}
.loading-label,
#page .ls-defaultskin .ls-loading-container,
#page .ls-carousel .ls-loading-container {
  -webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 4px rgba(0,0,0,0.2);
}
#main #shaon-pricing-table .selectePrice-content,
#main #shaon-pricing-table .selectedpriceTitle span {
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.15);
  -moz-box-shadow: 0 0 5px rgba(0,0,0,0.15);
  box-shadow: 0 0 5px rgba(0,0,0,0.15);
}
.shopping-cart-inner {
  -webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 4px rgba(0,0,0,0.2);
}
#page .ls-defaultskin .ls-nav-start,
#page .ls-defaultskin .ls-nav-stop,
#page .ls-defaultskin .ls-bottom-slidebuttons a {
  -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.15);
  -moz-box-shadow: 0 0 3px rgba(0,0,0,0.15);
  box-shadow: 0 0 3px rgba(0,0,0,0.15);
}
.mfp-iframe-scaler iframe,
.mfp-figure:after {
  -webkit-box-shadow: 0 0 8px rgba(0,0,0,0.6);
  -moz-box-shadow: 0 0 8px rgba(0,0,0,0.6);
  box-shadow: 0 0 8px rgba(0,0,0,0.6);
}
.wf-clearfix:before {
  content: "";
  display: table;
}
.wf-clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.ancient-ie .wf-clearfix {
  zoom: 1;
}
.wf-container:before,
#main-nav:before,
#top-bar:before,
.header-bottom-bar:before,
.layout-list .post:before {
  content: "";
  display: table;
}
.wf-container:after,
#main-nav:after,
#top-bar:after,
.header-bottom-bar:after,
.layout-list .post:after {
  content: "";
  display: table;
  clear: both;
}
.ancient-ie .wf-container,
.ancient-ie #main-nav,
.ancient-ie #top-bar,
.ancient-ie .header-bottom-bar,
.ancient-ie .layout-list .post {
  zoom: 1;
}
a {
  text-decoration: underline;
}
a:hover,
.items-grid a:hover,
.post-content a:hover {
  text-decoration: none;
}
.dt-btn,
a.button,
.dt-btn:hover {
  color: #fff;
}
.content .dt-btn,
.content a.button,
.content .dt-btn:hover {
  color: #fff;
}
.sidebar .dt-btn,
.stripe .sidebar-content.solid-bg .widget .dt-btn,
.sidebar a.button,
.stripe .sidebar-content.solid-bg .widget a.button,
.sidebar .dt-btn:hover,
.stripe .sidebar-content.solid-bg .widget .dt-btn:hover {
  color: #fff;
}
.footer .dt-btn,
.footer a.button,
.footer .dt-btn:hover {
  color: #fff;
}
.stripe-style-1 .dt-btn,
.stripe-style-1 a.button,
.stripe-style-1 .dt-btn:hover {
  color: #fff;
}
.stripe-style-2 .dt-btn,
.stripe-style-2 a.button,
.stripe-style-2 .dt-btn:hover {
  color: #fff;
}
.stripe-style-3 .dt-btn,
.stripe-style-3 a.button,
.stripe-style-3 .dt-btn:hover {
  color: #fff;
}
.stripe-style-4 .dt-btn,
.stripe-style-4 a.button,
.stripe-style-4 .dt-btn:hover {
  color: #fff;
}
.stripe-style-5 .dt-btn,
.stripe-style-5 a.button,
.stripe-style-5 .dt-btn:hover {
  color: #fff;
}
#page input[type="button"],
#page input[type="reset"],
#page input[type="submit"],
.wpcf7-form input[type="text"],
.wpcf7-form input[type="email"],
.wpcf7-form input[type="tel"],
.wpcf7-form input[type="url"],
.wpcf7-form input[type="number"],
.wpcf7-form input[type="range"],
.wpcf7-form input[type="date"],
#bbpress-forums div.bbp-the-content-wrapper input,
#page div.bbp-the-content-wrapper input {
  line-height: normal;
}
input.dt-btn-m[type="submit"],
#main .gform_wrapper .gform_footer input.button,
#main .gform_wrapper .gform_footer input[type="submit"],
form.mc4wp-form input[type="submit"] {
  line-height: 18px;
}
#page .btn-light:hover {
  border-color: transparent !important;
}
#top-bar.solid-bg .wf-container-top,
#top-bar.full-width-line .wf-container-top {
  border-bottom: none;
}
.header-bottom-bar.solid-bg .wf-container-top,
.header-bottom-bar.full-width-line .wf-container-top,
.header-bottom-bar.full-width-line.line-mobile {
  border-top: none;
}
#top-bar .mini-nav ul > li.act > a,
#bottom-bar .mini-nav ul > li.act > a,
.header-bottom-bar .mini-nav ul > li.act > a {
  text-decoration: underline;
}
#header .soc-ico a:hover,
.accent-gradient #header .soc-ico.accent-bg a:hover,
#header .soc-ico.accent-bg a:hover,
#header .soc-ico.custom-bg a:hover,
#header .soc-ico.gradient-bg a:hover,
.accent-gradient #header .soc-ico.gradient-bg a:hover {
  background: none;
}
#page .soc-ico a:hover .icon,
#page .stripe .sidebar-content.solid-bg .soc-ico a:hover .icon {
  fill: #fff;
}
#header.shadow-decoration {
  -webkit-box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.1);
  box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.1);
}
#page .tp-rightarrow.default.custom:before {
  background-image: url("data:image/svg+xml,%3Csvg%20version=%221.1%22%20xmlns=%22http://www.w3.org/2000/svg%22%20xmlns:xlink=%22http://www.w3.org/1999/xlink%22%20x=%220px%22%20y=%220px%22%20width=%2230px%22%20height=%2255px%22%20viewBox=%220%200%2030%2055%22%20enable-background=%22new%200%200%2030%2055%22%20xml:space=%22preserve%22%3E%3Cpolygon%20fill=%22white%22%20points=%2229.75,27.45%202.322,0%200.266,2.054%2025.638,27.45%200.25,52.813%202.305,54.869%20%22/%3E%20%3C/svg%3E");
}
#page .tp-rightarrow.default.custom:after {
  background-image: url("data:image/svg+xml,%3Csvg%20version=%221.1%22%20xmlns=%22http://www.w3.org/2000/svg%22%20xmlns:xlink=%22http://www.w3.org/1999/xlink%22%20x=%220px%22%20y=%220px%22%20width=%2230px%22%20height=%2255px%22%20viewBox=%220%200%2030%2055%22%20enable-background=%22new%200%200%2030%2055%22%20xml:space=%22preserve%22%3E%3Cpolygon%20fill=%22rgba(0,0,0,0.15)%22%20points=%2229.75,27.45%202.322,0%200.266,2.054%2025.638,27.45%200.25,52.813%202.305,54.869%20%22/%3E%20%3C/svg%3E");
}
#page .tp-rightarrow.default.custom:hover:before {
  background-image: url("data:image/svg+xml,%3Csvg%20version=%221.1%22%20xmlns=%22http://www.w3.org/2000/svg%22%20xmlns:xlink=%22http://www.w3.org/1999/xlink%22%20x=%220px%22%20y=%220px%22%20width=%2230px%22%20height=%2255px%22%20viewBox=%220%200%2030%2055%22%20enable-background=%22new%200%200%2030%2055%22%20xml:space=%22preserve%22%3E%3Cpolygon%20fill=%22rgba(255,255,255,0.7)%22%20points=%2229.75,27.45%202.322,0%200.266,2.054%2025.638,27.45%200.25,52.813%202.305,54.869%20%22/%3E%20%3C/svg%3E");
}
#page .tp-leftarrow.default.custom:before {
  background-image: url("data:image/svg+xml,%3Csvg%20version=%221.1%22%20xmlns=%22http://www.w3.org/2000/svg%22%20xmlns:xlink=%22http://www.w3.org/1999/xlink%22%20x=%220px%22%20y=%220px%22%20width=%2230px%22%20height=%2255px%22%20viewBox=%220%200%2030%2055%22%20enable-background=%22new%200%200%2030%2055%22%20xml:space=%22preserve%22%3E%3Cpolygon%20fill=%22white%22%20points=%220.25,27.419%2027.678,54.869%2029.734,52.815%204.363,27.419%2029.75,2.057%2027.695,0%20%22/%3E%20%3C/svg%3E");
}
#page .tp-leftarrow.default.custom:after {
  background-image: url("data:image/svg+xml,%3Csvg%20version=%221.1%22%20xmlns=%22http://www.w3.org/2000/svg%22%20xmlns:xlink=%22http://www.w3.org/1999/xlink%22%20x=%220px%22%20y=%220px%22%20width=%2230px%22%20height=%2255px%22%20viewBox=%220%200%2030%2055%22%20enable-background=%22new%200%200%2030%2055%22%20xml:space=%22preserve%22%3E%3Cpolygon%20fill=%22rgba(0,0,0,0.15)%22%20points=%220.25,27.419%2027.678,54.869%2029.734,52.815%204.363,27.419%2029.75,2.057%2027.695,0%20%22/%3E%20%3C/svg%3E");
}
#page .tp-leftarrow.default.custom:hover:before {
  background-image: url("data:image/svg+xml,%3Csvg%20version=%221.1%22%20xmlns=%22http://www.w3.org/2000/svg%22%20xmlns:xlink=%22http://www.w3.org/1999/xlink%22%20x=%220px%22%20y=%220px%22%20width=%2230px%22%20height=%2255px%22%20viewBox=%220%200%2030%2055%22%20enable-background=%22new%200%200%2030%2055%22%20xml:space=%22preserve%22%3E%3Cpolygon%20fill=%22rgba(255,255,255,0.7)%22%20points=%220.25,27.419%2027.678,54.869%2029.734,52.815%204.363,27.419%2029.75,2.057%2027.695,0%20%22/%3E%20%3C/svg%3E");
}
#main-nav > li > a span > span.menu-subtitle,
.dt-mega-menu .sub-nav .dt-mega-parent > a span.menu-subtitle,
.dl-menuwrapper li > a .menu-subtitle {
  font-size: 12px;
  line-height: 14px;
}
.logo-side #main-nav.divider-off > li {
  border-top: none;
}
.sub-nav .menu-subtitle,
.dl-menu .menu-subtitle,
.sub-nav li.act > a:hover .menu-subtitle {
  font-size: 10px;
  line-height: 12px;
}
.three-d-slider .navig .act,
.scale-me .navig div.act:hover,
#wp-calendar td.act,
.dt-highlight,
.standard-number-list li:before,
.assistive-info,
.rollover-thumbnails span:first-child i {
  color: #ffffff;
}
.arrow-left {
  background-image: url("data:image/svg+xml,%3Csvg%20version='1.1'%20xmlns='http://www.w3.org/2000/svg'%20xmlns:xlink='http://www.w3.org/1999/xlink'%20x='0px'%20y='0px'%20width='25px'%20height='40px'%20viewBox='0%200%2025%2040'%20enable-background='new%200%200%2025%2040'%20xml:space='preserve'%3E%3Cpolygon%20fill='white'%20points='12.471,19.208%2024.936,6.395%2018.703,0%200.042,19.185%200.056,19.198%200.042,19.208%2018.771,38.461%2025.041,32.085%20'/%3E%3C/svg%3E");
}
.arrow-right {
  background-image: url("data:image/svg+xml,%3Csvg%20version='1.1'%20xmlns='http://www.w3.org/2000/svg'%20xmlns:xlink='http://www.w3.org/1999/xlink'%20x='0px'%20y='0px'%20width='25px'%20height='40px'%20viewBox='0%200%2025%2040'%20enable-background='new%200%200%2025%2040'%20xml:space='preserve'%3E%3Cpolygon%20fill='white'%20points='12.611,19.253%200.147,32.064%206.379,38.461%2025.041,19.276%2025.025,19.263%2025.041,19.253%206.31,0%200.041,6.376'/%3E%3C/svg%3E");
}
.arrow-bottom {
  background-image: url("data:image/svg+xml,%3Csvg%20version='1.1'%20xmlns='http://www.w3.org/2000/svg'%20xmlns:xlink='http://www.w3.org/1999/xlink'%20x='0px'%20y='0px'%20width='20px'%20height='14px'%20viewBox='0%200%2020%2014'%20enable-background='new%200%200%2020%2014'%20xml:space='preserve'%3E%3Cpolygon%20fill='white'%20points='9.986,6.558%203.325,0.056%200,3.307%209.975,13.042%209.982,13.033%209.986,13.042%2019.998,3.271%2016.684,0%20'/%3E%3C/svg%3E");
}
.arrow-top {
  background-image: url("data:image/svg+xml,%3Csvg%20version='1.1'%20xmlns='http://www.w3.org/2000/svg'%20xmlns:xlink='http://www.w3.org/1999/xlink'%20x='0px'%20y='0px'%20width='20px'%20height='14px'%20viewBox='0%200%2020%2014'%20enable-background='new%200%200%2020%2014'%20xml:space='preserve'%3E%3Cpolygon%20fill='white'%20points='10.012,6.483%2016.673,12.984%2019.998,9.734%2010.024,-0.001%2010.016,0.008%2010.012,-0.001%200.001,9.771%203.315,13.041%20'/%3E%3C/svg%3E");
}
.stripe-style-4 {
  background-color: #2e3031;
  background-repeat: ;
  background-attachment: fixed;
  background-position: center top;
  background-size: cover;
}
.style-ios .stripe-style-4 {
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(255,255,255,0.18);
  box-shadow: inset 0px 0px 0px 1px rgba(255,255,255,0.18);
}
.stripe-style-4 *,
.stripe-style-4 a {
  color: #ffffff;
}
.stripe-style-4 .gw-go * {
  color: inherit;
}
.stripe-style-5 {
  background-color: #ffffff;
  background-repeat: ;
  background-attachment: fixed;
  background-position: center top;
  background-size: cover;
}
.style-ios .stripe-style-5 {
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(51,51,51,0.15);
  -moz-box-shadow: inset 0px 0px 0px 1px rgba(51,51,51,0.15);
  box-shadow: inset 0px 0px 0px 1px rgba(51,51,51,0.15);
}
.stripe-style-5 *,
.stripe-style-5 a {
  color: #333333;
}
.sidebar .widget-divider-off .widget,
.sidebar-content.widget-divider-off .widget,
.solid-bg.sidebar-content .widget {
  border-top: none;
}
.style-minimal .paginator .nav-next:after {
  right: 0;
}
.style-minimal .paginator .nav-prev:before {
  left: 0;
}
.footer.full-width-line .wf-container-footer,
.footer.solid-bg .wf-container-footer,
.empty-footer.solid-bg .wf-container-bottom,
.empty-footer.solid-bg #bottom-bar.full-width-line,
#bottom-bar.full-width-line .wf-container-bottom,
#bottom-bar.solid-bg .wf-container-bottom {
  border-top: none;
}
a.text-secondary {
  text-decoration: none;
}
a.text-secondary:hover {
  text-decoration: underline;
}
.clear-form:before {
  background-image: url("data:image/svg+xml,%3Csvg%20version=%221.1%22%20xmlns=%22http://www.w3.org/2000/svg%22%20xmlns:xlink=%22http://www.w3.org/1999/xlink%22%20x=%220px%22%20y=%220px%22%20width=%2213px%22%20height=%2213px%22%20viewBox=%220%200%2013%2013%22%20enable-background=%22new%200%200%2013%2013%22%20fill=%22white%22%20xml:space=%22preserve%22%3E%3Cpolygon%20points=%223.534,8.557%204.429,9.45%209.467,4.412%208.604,3.55%20%22/%3E%3Cpolygon%20points=%229.467,8.557%208.57,9.45%203.534,4.412%204.396,3.55%20%22/%3E%3C/svg%3E");
}
.accent-gradient .accent-border-color.hr-thin.style-line {
  height: 1px;
}
.accent-gradient .accent-border-color.hr-thick {
  height: 5px;
}
.close-link {
  background-image: url("data:image/svg+xml,%3Csvg%20version=%221.1%22%20xmlns=%22http://www.w3.org/2000/svg%22%20xmlns:xlink=%22http://www.w3.org/1999/xlink%22%20x=%220px%22%20y=%220px%22%20width=%2216px%22%20height=%2216px%22%20viewBox=%220%200%2016%2016%22%20enable-background=%22new%200%200%2016%2016%22%20xml:space=%22preserve%22%3E%3Crect%20x=%2210.661%22%20y=%22-1.048%22%20fill=%22white%22%20width=%220.021%22%20height=%220.083%22/%3E%3Crect%20x=%229.328%22%20y=%22-1.049%22%20fill=%22white%22%20width=%220.03%22%20height=%220.042%22/%3E%3Cpolygon%20fill=%22white%22%20points=%2215.081,14.044%2014.067,15.103%200.92,1.913%201.999,0.899%20%22/%3E%3Cpolygon%20fill=%22white%22%20points=%220.959,14.01%201.967,15.062%2015.041,1.946%2013.969,0.938%20%22/%3E%3C/svg%3E");
}
.overlay-close {
  background-image: url("data:image/svg+xml,%3Csvg%20version=%221.1%22%20xmlns=%22http://www.w3.org/2000/svg%22%20xmlns:xlink=%22http://www.w3.org/1999/xlink%22%20x=%220px%22%20y=%220px%22%20width=%2234px%22%20height=%2234px%22%20viewBox=%220%200%2016%2016%22%20enable-background=%22new%200%200%2016%2016%22%20xml:space=%22preserve%22%3E%3Crect%20x=%2210.661%22%20y=%22-1.048%22%20fill=%22white%22%20width=%220.021%22%20height=%220.083%22/%3E%3Crect%20x=%229.328%22%20y=%22-1.049%22%20fill=%22white%22%20width=%220.03%22%20height=%220.042%22/%3E%3Cpolygon%20fill=%22white%22%20points=%2215.081,14.044%2014.067,15.103%200.92,1.913%201.999,0.899%20%22/%3E%3Cpolygon%20fill=%22white%22%20points=%220.959,14.01%201.967,15.062%2015.041,1.946%2013.969,0.938%20%22/%3E%3C/svg%3E");
}
.overlay-close:hover {
  background-image: url("data:image/svg+xml,%3Csvg%20version=%221.1%22%20xmlns=%22http://www.w3.org/2000/svg%22%20xmlns:xlink=%22http://www.w3.org/1999/xlink%22%20x=%220px%22%20y=%220px%22%20width=%2234px%22%20height=%2234px%22%20viewBox=%220%200%2016%2016%22%20enable-background=%22new%200%200%2016%2016%22%20xml:space=%22preserve%22%3E%3Crect%20x=%2210.661%22%20y=%22-1.048%22%20fill=%22rgba(255,255,255,0.8)%22%20width=%220.021%22%20height=%220.083%22/%3E%3Crect%20x=%229.328%22%20y=%22-1.049%22%20fill=%22rgba(255,255,255,0.8)%22%20width=%220.03%22%20height=%220.042%22/%3E%3Cpolygon%20fill=%22rgba(255,255,255,0.8)%22%20points=%2215.081,14.044%2014.067,15.103%200.92,1.913%201.999,0.899%20%22/%3E%3Cpolygon%20fill=%22rgba(255,255,255,0.8)%22%20points=%220.959,14.01%201.967,15.062%2015.041,1.946%2013.969,0.938%20%22/%3E%3C/svg%3E");
}
.standard-arrow.bullet-top li:after,
.standard-arrow.list-divider.bullet-top li:first-child:after,
.standard-arrow.list-divider.bullet-top li:after {
  background-position: 0 center;
}
#page .rollover-content .entry-title a {
  background: none;
}
#page .rollover-content,
#page .rollover-content *,
#page .rollover-content h3.entry-title,
#page .rollover-content h3.entry-title a,
#page .post .rollover-content .entry-title a:hover,
#page .rollover-content a:hover,
#page .hover-style-one h2.entry-title,
#page .hover-style-two h2.entry-title,
#page .tab-style-one .wpb_tabs_nav li.ui-state-active a,
#page .hover-style-two .fs-entry-content *,
#page .hover-style-one .fs-entry-content h4,
#page .edit-link,
#page .rollover-content .details:hover {
  color: #ffffff;
  -webkit-text-fill-color: #fff;
}
#page .sidebar .rollover-content,
#page .sidebar .rollover-content *,
#page .sidebar .rollover-content h3.entry-title,
#page .sidebar .rollover-content h3.entry-title a,
#page .sidebar .post .rollover-content .entry-title a:hover,
#page .sidebar .rollover-content a:hover,
#page .sidebar .hover-style-one h2.entry-title,
#page .sidebar .hover-style-two h2.entry-title,
#page .sidebar .tab-style-one .wpb_tabs_nav li.ui-state-active a,
#page .sidebar .hover-style-two .fs-entry-content *,
#page .sidebar .hover-style-one .fs-entry-content h4,
#page .sidebar .edit-link,
#page .sidebar .rollover-content .details:hover {
  color: #ffffff;
}
#page .footer .rollover-content,
#page .footer .rollover-content *,
#page .footer .rollover-content h3.entry-title,
#page .footer .rollover-content h3.entry-title a,
#page .footer .post .rollover-content .entry-title a:hover,
#page .footer .rollover-content a:hover,
#page .footer .hover-style-one h2.entry-title,
#page .footer .hover-style-two h2.entry-title,
#page .footer .tab-style-one .wpb_tabs_nav li.ui-state-active a,
#page .footer .hover-style-two .fs-entry-content *,
#page .footer .hover-style-one .fs-entry-content h4,
#page .footer .edit-link,
#page .footer .rollover-content .details:hover {
  color: #ffffff;
}
#page .stripe-style-1 .rollover-content,
#page .stripe-style-1 .rollover-content *,
#page .stripe-style-1 .rollover-content h3.entry-title,
#page .stripe-style-1 .rollover-content h3.entry-title a,
#page .stripe-style-1 .post .rollover-content .entry-title a:hover,
#page .stripe-style-1 .rollover-content a:hover,
#page .stripe-style-1 .hover-style-one h2.entry-title,
#page .stripe-style-1 .hover-style-two h2.entry-title,
#page .stripe-style-1 .tab-style-one .wpb_tabs_nav li.ui-state-active a,
#page .stripe-style-1 .hover-style-two .fs-entry-content *,
#page .stripe-style-1 .hover-style-one .fs-entry-content h4,
#page .stripe-style-1 .edit-link,
#page .stripe-style-1 .rollover-content .details:hover {
  color: #ffffff;
}
#page .stripe-style-2 .rollover-content,
#page .stripe-style-2 .rollover-content *,
#page .stripe-style-2 .rollover-content h3.entry-title,
#page .stripe-style-2 .rollover-content h3.entry-title a,
#page .stripe-style-2 .post .rollover-content .entry-title a:hover,
#page .stripe-style-2 .rollover-content a:hover,
#page .stripe-style-2 .hover-style-one h2.entry-title,
#page .stripe-style-2 .hover-style-two h2.entry-title,
#page .stripe-style-2 .tab-style-one .wpb_tabs_nav li.ui-state-active a,
#page .stripe-style-2 .hover-style-two .fs-entry-content *,
#page .stripe-style-2 .hover-style-one .fs-entry-content h4,
#page .stripe-style-2 .edit-link,
#page .stripe-style-2 .rollover-content .details:hover {
  color: #ffffff;
}
#page .stripe-style-3 .rollover-content,
#page .stripe-style-3 .rollover-content *,
#page .stripe-style-3 .rollover-content h3.entry-title,
#page .stripe-style-3 .rollover-content h3.entry-title a,
#page .stripe-style-3 .post .rollover-content .entry-title a:hover,
#page .stripe-style-3 .rollover-content a:hover,
#page .stripe-style-3 .hover-style-one h2.entry-title,
#page .stripe-style-3 .hover-style-two h2.entry-title,
#page .stripe-style-3 .tab-style-one .wpb_tabs_nav li.ui-state-active a,
#page .stripe-style-3 .hover-style-two .fs-entry-content *,
#page .stripe-style-3 .hover-style-one .fs-entry-content h4,
#page .stripe-style-3 .edit-link,
#page .stripe-style-3 .rollover-content .details:hover {
  color: #ffffff;
}
#page .stripe-style-4 .rollover-content,
#page .stripe-style-4 .rollover-content *,
#page .stripe-style-4 .rollover-content h3.entry-title,
#page .stripe-style-4 .rollover-content h3.entry-title a,
#page .stripe-style-4 .post .rollover-content .entry-title a:hover,
#page .stripe-style-4 .rollover-content a:hover,
#page .stripe-style-4 .hover-style-one h2.entry-title,
#page .stripe-style-4 .hover-style-two h2.entry-title,
#page .stripe-style-4 .tab-style-one .wpb_tabs_nav li.ui-state-active a,
#page .stripe-style-4 .hover-style-two .fs-entry-content *,
#page .stripe-style-4 .hover-style-one .fs-entry-content h4,
#page .stripe-style-4 .edit-link,
#page .stripe-style-4 .rollover-content .details:hover {
  color: #ffffff;
}
#page .stripe-style-5 .rollover-content,
#page .stripe-style-5 .rollover-content *,
#page .stripe-style-5 .rollover-content h3.entry-title,
#page .stripe-style-5 .rollover-content h3.entry-title a,
#page .stripe-style-5 .post .rollover-content .entry-title a:hover,
#page .stripe-style-5 .rollover-content a:hover,
#page .stripe-style-5 .hover-style-one h2.entry-title,
#page .stripe-style-5 .hover-style-two h2.entry-title,
#page .stripe-style-5 .tab-style-one .wpb_tabs_nav li.ui-state-active a,
#page .stripe-style-5 .hover-style-two .fs-entry-content *,
#page .stripe-style-5 .hover-style-one .fs-entry-content h4,
#page .stripe-style-5 .edit-link,
#page .stripe-style-5 .rollover-content .details:hover {
  color: #ffffff;
}
.links-hovers-disabled .rollover-content .entry-title a:hover {
  background: none;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #fff;
}
.rsShor .rsArrowRight .rsArrowIcn:before,
.rsShor .rsArrowRight.rsArrowDisabled .rsArrowIcn:hover:before {
  background-image: url("data:image/svg+xml,%3Csvg%20version=%221.1%22%20xmlns=%22http://www.w3.org/2000/svg%22%20xmlns:xlink=%22http://www.w3.org/1999/xlink%22%20x=%220px%22%20y=%220px%22%20width=%2219px%22%20height=%2219px%22%20viewBox=%220%200%2019%2019%22%20enable-background=%22new%200%200%2019%2019%22%20xml:space=%22preserve%22%3E%3Cpolygon%20id=%22arrow-25-icon%22%20fill=%22rgba(255,255,255,0.5)%22%20points=%224.262,1.688%205.887,0%2015.738,9.406%206.012,19%204.262,17.188%2012.332,9.406%20%22/%3E%3C/svg%3E");
}
.style-material-design .rsShor .rsArrowRight .rsArrowIcn:before,
.style-material-design .rsShor .rsArrowRight.rsArrowDisabled .rsArrowIcn:hover:before {
  background-image: url("data:image/svg+xml,%3Csvg%20version=%221.1%22%20xmlns=%22http://www.w3.org/2000/svg%22%20xmlns:xlink=%22http://www.w3.org/1999/xlink%22%20x=%220px%22%20y=%220px%22%20width=%2216px%22%20height=%2216px%22%20viewBox=%220%200%2016%2016%22%20enable-background=%22new%200%200%2016%2016%22%20xml:space=%22preserve%22%3E%3Cpolygon%20fill=%22rgba(255,255,255,0.5)%22%20points=%229.349,2.035%208.016,3.363%2011.661,7.022%201.031,7.022%201.031,9.016%2011.661,9.016%208.016,12.674%209.349,14.002%2015.309,8.02%20%22/%3E%3C/svg%3E");
}
.rsShor .rsArrowRight .rsArrowIcn:hover:before {
  background-image: url("data:image/svg+xml,%3Csvg%20version=%221.1%22%20xmlns=%22http://www.w3.org/2000/svg%22%20xmlns:xlink=%22http://www.w3.org/1999/xlink%22%20x=%220px%22%20y=%220px%22%20width=%2219px%22%20height=%2219px%22%20viewBox=%220%200%2019%2019%22%20enable-background=%22new%200%200%2019%2019%22%20xml:space=%22preserve%22%3E%3Cpolygon%20id=%22arrow-25-icon%22%20fill=%22white%22%20points=%224.262,1.688%205.887,0%2015.738,9.406%206.012,19%204.262,17.188%2012.332,9.406%20%22/%3E%3C/svg%3E");
}
.style-material-design .rsShor .rsArrowRight .rsArrowIcn:hover:before {
  background-image: url("data:image/svg+xml,%3Csvg%20version=%221.1%22%20xmlns=%22http://www.w3.org/2000/svg%22%20xmlns:xlink=%22http://www.w3.org/1999/xlink%22%20x=%220px%22%20y=%220px%22%20width=%2216px%22%20height=%2216px%22%20viewBox=%220%200%2016%2016%22%20enable-background=%22new%200%200%2016%2016%22%20xml:space=%22preserve%22%3E%3Cpolygon%20fill=%22white%22%20points=%229.349,2.035%208.016,3.363%2011.661,7.022%201.031,7.022%201.031,9.016%2011.661,9.016%208.016,12.674%209.349,14.002%2015.309,8.02%20%22/%3E%3C/svg%3E");
}
.rsShor .rsArrowLeft .rsArrowIcn:before,
.rsShor .rsArrowLeft.rsArrowDisabled .rsArrowIcn:hover:before {
  background-image: url("data:image/svg+xml,%3Csvg%20version=%221.1%22%20xmlns=%22http://www.w3.org/2000/svg%22%20xmlns:xlink=%22http://www.w3.org/1999/xlink%22%20x=%220px%22%20y=%220px%22%20width=%2219px%22%20height=%2219px%22%20viewBox=%220%200%2019%2019%22%20enable-background=%22new%200%200%2019%2019%22%20xml:space=%22preserve%22%3E%3Cpolygon%20id=%22arrow-25-icon%22%20fill=%22rgba(255,255,255,0.5)%22%20points=%226.669,9.406%2014.738,17.188%2012.988,19%203.262,9.406%2013.113,0%2014.738,1.688%20%22/%3E%3C/svg%3E");
}
.style-material-design .rsShor .rsArrowLeft .rsArrowIcn:before,
.style-material-design .rsShor .rsArrowLeft.rsArrowDisabled .rsArrowIcn:hover:before {
  background-image: url("data:image/svg+xml,%3Csvg%20version=%221.1%22%20xmlns=%22http://www.w3.org/2000/svg%22%20xmlns:xlink=%22http://www.w3.org/1999/xlink%22%20x=%220px%22%20y=%220px%22%20width=%2216px%22%20height=%2216px%22%20viewBox=%220%200%2016%2016%22%20enable-background=%22new%200%200%2016%2016%22%20xml:space=%22preserve%22%3E%3Cpolygon%20fill=%22rgba(255,255,255,0.5)%22%20points=%220.719,8.02%206.679,14.002%208.012,12.674%204.366,9.016%2014.996,9.016%2014.996,7.022%204.366,7.022%208.012,3.363%206.679,2.035%20%22/%3E%3C/svg%3E");
}
.rsShor .rsArrowLeft .rsArrowIcn:hover:before {
  background-image: url("data:image/svg+xml,%3Csvg%20version=%221.1%22%20xmlns=%22http://www.w3.org/2000/svg%22%20xmlns:xlink=%22http://www.w3.org/1999/xlink%22%20x=%220px%22%20y=%220px%22%20width=%2219px%22%20height=%2219px%22%20viewBox=%220%200%2019%2019%22%20enable-background=%22new%200%200%2019%2019%22%20xml:space=%22preserve%22%3E%3Cpolygon%20id=%22arrow-25-icon%22%20fill=%22white%22%20points=%226.669,9.406%2014.738,17.188%2012.988,19%203.262,9.406%2013.113,0%2014.738,1.688%20%22/%3E%3C/svg%3E");
}
.style-material-design .rsShor .rsArrowLeft .rsArrowIcn:hover:before {
  background-image: url("data:image/svg+xml,%3Csvg%20version=%221.1%22%20xmlns=%22http://www.w3.org/2000/svg%22%20xmlns:xlink=%22http://www.w3.org/1999/xlink%22%20x=%220px%22%20y=%220px%22%20width=%2216px%22%20height=%2216px%22%20viewBox=%220%200%2016%2016%22%20enable-background=%22new%200%200%2016%2016%22%20xml:space=%22preserve%22%3E%3Cpolygon%20fill=%22white%22%20points=%220.719,8.02%206.679,14.002%208.012,12.674%204.366,9.016%2014.996,9.016%2014.996,7.022%204.366,7.022%208.012,3.363%206.679,2.035%20%22/%3E%3C/svg%3E");
}
.accent-bg .lines,
.accent-bg .lines:before,
.accent-bg .lines:after {
  background-color: #fff;
}
.scroll-top {
  background-color: #000;
  background-color: rgba(0,0,0,0.2);
}
.scroll-top:hover {
  background-color: #000;
  background-color: rgba(0,0,0,0.5);
}
.hover-color-static .rollover-content,
.accent-gradient .hover-color-static .rollover-content,
.hover-color-static.text-on-img .fs-entry-content,
.hover-color-static .fs-entry-content.buttons-on-img,
.hover-color-static.hover-scale .rollover-project:after {
  background-color: #000000;
  background-image: none;
}
.hover-color-static .buttons-on-img i,
.hover-color-static .rollover i,
.hover-color-static .rollover-video i,
.hover-color-static .rollover.rollover-thumbnails-on i,
.hover-color-static .buttons-on-img .rollover-content {
  background-color: #000000;
  background-image: none;
}
.project-details:after {
  background-image: url("data:image/svg+xml,%3Csvg%20version=%221.1%22%20xmlns=%22http://www.w3.org/2000/svg%22%20xmlns:xlink=%22http://www.w3.org/1999/xlink%22%20x=%220px%22%20y=%220px%22%20width=%2224px%22%20height=%2224px%22%20viewBox=%220%200%2024%2024%22%20enable-background=%22new%200%200%2024%2024%22%20xml:space=%22preserve%22%3E%3Cpath%20fill=%22white%22%20d=%22M1.114,20.999c-0.092,0-0.187-0.011-0.281-0.037c-0.484-0.129-0.823-0.574-0.824-1.082c-0.001-0.213,0.585-6.442,3.585-9.192c2.471-2.516,5.098-3.415,9.469-3.611l-0.033-4.255c0-0.453,0.415-0.812,0.827-0.985c0.413-0.173,0.892-0.079,1.206,0.243l8.384,8.501c0.375,0.38,0.431,0.973,0.142,1.418c-0.05,0.065-0.099,0.128-0.152,0.179c-0.334,0.342-8.373,8.493-8.373,8.493c-0.316,0.32-0.793,0.416-1.206,0.24c-0.412-0.174-0.827-0.646-0.827-1.102l-0.002-4.268c-0.279-0.012-0.789-0.026-1.156,0.005c-2.515,0.212-7.601,0.984-9.796,4.887C1.874,20.787,1.506,20.999,1.114,20.999z%20M10.636,13.699c1.364-0.177,1.812-0.214,3.238-0.105c0.721,0.036,1.12,0.771,1.12,1.344l0.049,3.35l6.534-6.912l-6.472-6.717l-0.024,3.155c0,0.62-0.717,1.05-1.326,1.072C5.823,9.16,3.969,12.281,1.901,17.846C4.096,15.024,7.469,14.188,10.636,13.699z%22/%3E%3C/svg%3E");
}
.photo-scroller .share-button.entry-share,
.slider-post-inner .share-button.entry-share,
.images-list-inner .share-button.entry-share {
  background-image: url("data:image/svg+xml,%3Csvg%20version=%221.1%22%20xmlns=%22http://www.w3.org/2000/svg%22%20xmlns:xlink=%22http://www.w3.org/1999/xlink%22%20x=%220px%22%20y=%220px%22%20width=%2216px%22%20height=%2216px%22%20viewBox=%220%200%2016%2016%22%20enable-background=%22new%200%200%2016%2016%22%20xml:space=%22preserve%22%3E%3Cpath%20fill=%22white%22%20d=%22M12.949,10.555c-0.623,0-1.185,0.259-1.586,0.674L5.417,8.255c0.018-0.114,0.028-0.23,0.028-0.349s-0.01-0.235-0.028-0.349l5.946-2.973C11.765,5,12.326,5.258,12.949,5.258c1.219,0,2.207-0.988,2.207-2.207s-0.988-2.207-2.207-2.207s-2.207,0.988-2.207,2.207c0,0.119,0.009,0.235,0.027,0.349L4.825,6.373C4.424,5.958,3.862,5.699,3.238,5.699c-1.219,0-2.207,0.988-2.207,2.207c0,1.219,0.988,2.207,2.207,2.207%09c0.624,0,1.186-0.259,1.586-0.674l5.945,2.973c-0.019,0.114-0.027,0.23-0.027,0.35c0,1.219,0.988,2.207,2.207,2.207s2.207-0.988,2.207-2.207S14.168,10.555,12.949,10.555z%22/%3E%3C/svg%3E");
}
.style-material-design .photo-scroller .share-button.entry-share,
.style-material-design .slider-post-inner .share-button.entry-share,
.style-material-design .images-list-inner .share-button.entry-share {
  background-image: url("data:image/svg+xml,%3Csvg%20version=%221.1%22%20xmlns=%22http://www.w3.org/2000/svg%22%20xmlns:xlink=%22http://www.w3.org/1999/xlink%22%20x=%220px%22%20y=%220px%22%20width=%2216px%22%20height=%2216px%22%20viewBox=%220%200%2016%2016%22%20enable-background=%22new%200%200%2016%2016%22%20fill=%22white%22%20xml:space=%22preserve%22%3E%3Cpath%20d=%22M12.376,10.586c-0.593,0-1.178,0.278-1.614,0.614L6.288,8.515C6.312,8.379,6.339,8.144,6.339,8c0-0.146-0.057-0.379-0.081-0.516l4.504-2.714c0.437,0.337,1.021,0.639,1.614,0.639c1.43,0,2.588-1.159,2.588-2.586c0-1.432-1.158-2.588-2.588-2.588c-1.429,0-2.587,1.156-2.587,2.588c0,0.145,0.037,0.383,0.063,0.521L5.414,6.005c-0.357-0.366-1.047-0.712-1.658-0.72c-1.687-0.02-2.72,1.333-2.72,2.763c0,1.429,0.99,2.676,2.678,2.656c0.593-0.008,1.328-0.274,1.744-0.707l4.41,2.645c-0.026,0.137-0.079,0.39-0.079,0.533c0,1.432,1.158,2.59,2.587,2.59c1.43,0,2.588-1.158,2.588-2.59C14.964,11.746,13.806,10.586,12.376,10.586z%22/%3E%3C/svg%3E");
}
#page .ls-defaultskin .ls-nav-next:before {
  background-image: url("data:image/svg+xml,%3Csvg%20version=%221.1%22%20xmlns=%22http://www.w3.org/2000/svg%22%20xmlns:xlink=%22http://www.w3.org/1999/xlink%22%20x=%220px%22%20y=%220px%22%20width=%2230px%22%20height=%2255px%22%20viewBox=%220%200%2030%2055%22%20enable-background=%22new%200%200%2030%2055%22%20xml:space=%22preserve%22%3E%3Cpolygon%20fill=%22white%22%20points=%2229.75,27.45%202.322,0%200.266,2.054%2025.638,27.45%200.25,52.813%202.305,54.869%20%22/%3E%20%3C/svg%3E");
}
#page .ls-defaultskin .ls-nav-next:after {
  background-image: url("data:image/svg+xml,%3Csvg%20version=%221.1%22%20xmlns=%22http://www.w3.org/2000/svg%22%20xmlns:xlink=%22http://www.w3.org/1999/xlink%22%20x=%220px%22%20y=%220px%22%20width=%2230px%22%20height=%2255px%22%20viewBox=%220%200%2030%2055%22%20enable-background=%22new%200%200%2030%2055%22%20xml:space=%22preserve%22%3E%3Cpolygon%20fill=%22rgba(0,0,0,0.15)%22%20points=%2229.75,27.45%202.322,0%200.266,2.054%2025.638,27.45%200.25,52.813%202.305,54.869%20%22/%3E%20%3C/svg%3E");
}
#page .ls-defaultskin .ls-nav-next:hover:before {
  background-image: url("data:image/svg+xml,%3Csvg%20version=%221.1%22%20xmlns=%22http://www.w3.org/2000/svg%22%20xmlns:xlink=%22http://www.w3.org/1999/xlink%22%20x=%220px%22%20y=%220px%22%20width=%2230px%22%20height=%2255px%22%20viewBox=%220%200%2030%2055%22%20enable-background=%22new%200%200%2030%2055%22%20xml:space=%22preserve%22%3E%3Cpolygon%20fill=%22rgba(255,255,255,0.7)%22%20points=%2229.75,27.45%202.322,0%200.266,2.054%2025.638,27.45%200.25,52.813%202.305,54.869%20%22/%3E%20%3C/svg%3E");
}
#page .ls-defaultskin .ls-nav-prev:before {
  background-image: url("data:image/svg+xml,%3Csvg%20version=%221.1%22%20xmlns=%22http://www.w3.org/2000/svg%22%20xmlns:xlink=%22http://www.w3.org/1999/xlink%22%20x=%220px%22%20y=%220px%22%20width=%2230px%22%20height=%2255px%22%20viewBox=%220%200%2030%2055%22%20enable-background=%22new%200%200%2030%2055%22%20xml:space=%22preserve%22%3E%3Cpolygon%20fill=%22white%22%20points=%220.25,27.419%2027.678,54.869%2029.734,52.815%204.363,27.419%2029.75,2.057%2027.695,0%20%22/%3E%20%3C/svg%3E");
}
#page .ls-defaultskin .ls-nav-prev:after {
  background-image: url("data:image/svg+xml,%3Csvg%20version=%221.1%22%20xmlns=%22http://www.w3.org/2000/svg%22%20xmlns:xlink=%22http://www.w3.org/1999/xlink%22%20x=%220px%22%20y=%220px%22%20width=%2230px%22%20height=%2255px%22%20viewBox=%220%200%2030%2055%22%20enable-background=%22new%200%200%2030%2055%22%20xml:space=%22preserve%22%3E%3Cpolygon%20fill=%22rgba(0,0,0,0.15)%22%20points=%220.25,27.419%2027.678,54.869%2029.734,52.815%204.363,27.419%2029.75,2.057%2027.695,0%20%22/%3E%20%3C/svg%3E");
}
#page .ls-defaultskin .ls-nav-prev:hover:before {
  background-image: url("data:image/svg+xml,%3Csvg%20version=%221.1%22%20xmlns=%22http://www.w3.org/2000/svg%22%20xmlns:xlink=%22http://www.w3.org/1999/xlink%22%20x=%220px%22%20y=%220px%22%20width=%2230px%22%20height=%2255px%22%20viewBox=%220%200%2030%2055%22%20enable-background=%22new%200%200%2030%2055%22%20xml:space=%22preserve%22%3E%3Cpolygon%20fill=%22rgba(255,255,255,0.7)%22%20points=%220.25,27.419%2027.678,54.869%2029.734,52.815%204.363,27.419%2029.75,2.057%2027.695,0%20%22/%3E%20%3C/svg%3E");
}
hr.gf_rule {
  border: medium none;
  height: 1px;
  margin: 30px 0 20px;
  overflow: hidden;
}
#main .gform_wrapper .ginput_left input:focus + label,
#main .gform_wrapper .ginput_right input:focus + label,
#main .gform_wrapper .ginput_full input:focus + label {
  font-weight: normal;
}
.hover-style-one .portfolio-categories,
.hover-style-one .portfolio-categories *,
.hover-style-one.hover-color-static.wf-container .portfolio-categories *,
.hover-style-two.hover-color-static.wf-container .portfolio-categories *,
.text-on-img.hover-color-static .fs-entry-content .portfolio-categories *,
.hover-style-two .portfolio-categories a,
.hover-style-two .portfolio-categories span,
.hover-style-two .portfolio-categories a * {
  color: rgba(255,255,255,0.5) !important;
  -webkit-text-fill-color: rgba(255,255,255,0.5) !important;
}
.style-material-design .hover-style-one .portfolio-categories,
.style-material-design .hover-style-one .portfolio-categories *,
.style-material-design .hover-style-one.hover-color-static.wf-container .portfolio-categories *,
.style-material-design .hover-style-two.hover-color-static.wf-container .portfolio-categories *,
.style-material-design .text-on-img.hover-color-static .fs-entry-content .portfolio-categories *,
.style-material-design .hover-style-two .portfolio-categories a,
.style-material-design .hover-style-two .portfolio-categories span,
.style-material-design .hover-style-two .portfolio-categories a * {
  color: #ffffff !important;
  -webkit-text-fill-color: #ffffff !important;
}
.photo-scroller .btn-project-link {
  background-image: url("data:image/svg+xml,%3Csvg%20version=%221.1%22%20xmlns=%22http://www.w3.org/2000/svg%22%20xmlns:xlink=%22http://www.w3.org/1999/xlink%22%20x=%220px%22%20y=%220px%22%20width=%2216px%22%20height=%2216px%22%20viewBox=%220%200%2016%2016%22%20enable-background=%22new%200%200%2016%2016%22%20xml:space=%22preserve%22%3E%3Cpath%20fill=%22white%22%20d=%22M11.797,3.106c0.552,0.553,0.552,1.453,0,2.004l-5.07,5.074c0.945,0.249,1.991,0.016,2.73-0.725l3.344-3.345c1.109-1.108,1.109-2.904,0-4.012L12.049,1.35c-1.109-1.107-2.904-1.107-4.012,0L4.692,4.693C3.952,5.433,3.719,6.479,3.97,7.424l5.071-5.071c0.553-0.553,1.452-0.553,2.005,0L11.797,3.106z%20M11.307,11.309c0.741-0.742,0.974-1.789,0.724-2.733l-5.069,5.073c-0.554,0.553-1.453,0.553-2.004,0l-0.754-0.753%09c-0.553-0.552-0.553-1.452,0-2.008l5.072-5.069c-0.946-0.25-1.992-0.017-2.731,0.724L3.198,9.884c-1.107,1.109-1.107,2.904,0,4.013l0.752,0.753c1.108,1.108,2.904,1.108,4.012,0L11.307,11.309z%22/%3E%3C/svg%3E");
}
#header.line-decoration.logo-side {
  border-bottom: none;
}
#phantom.logo-center.solid-bg .ph-wrap,
#phantom.logo-classic.solid-bg .ph-wrap {
  background-image: none;
}
.logo-center.solid-bg .navigation-holder,
.logo-classic.solid-bg .navigation-holder,
#main-nav.underline-hover > li > a i.underline,
#main-nav > li.menu-frame-on.act > a,
#main-nav > li.menu-frame-on.act:hover > a,
#phantom #main-nav > li.menu-frame-on.act:hover > a,
#phantom #main-nav > li.menu-frame-on.act > a,
header:not(.sub-downwards) #main-nav > li.menu-frame-on.act:hover > a,
#main-nav.underline-hover.gradient-decor > li > a i.underline,
#main-nav.gradient-decor > li.menu-frame-on.act > a,
#main-nav.gradient-decor > li.menu-frame-on.act:hover > a,
.logo-side #main-nav > li.has-children.level-arrows-on.menu-frame-on.act > a,
.logo-side.sub-downwards #main-nav > li.has-children.level-arrows-on.menu-frame-on.act > a {
  border: none;
}
.sub-downwards #main-nav:not(.text-center) > .menu-frame-on:first-child > .next-level-button {
  top: 7px;
}
