/*
Theme Name: Fundify
Theme URI: http://ignitiondeck.com
Author: IgnitionDeck
Author URI: http://ignitiondeck.com
Description: The original crowdfunding platform theme for WordPress, now integrated with the IgnitionDeck Crowdfunding plugin.
Version: 2.0.4
License: GNU General Public License
License URI: license.txt
Tags: white, green, right-sidebar, fixed-width, custom-background, custom-header, theme-options, full-width-template, featured-images, flexible-header, custom-menu, translation-ready
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a[href], label[for], select,
input[type=checkbox], input[type=radio] {
	cursor: pointer;
}

button, input[type=button], input[type=image],
input[type=reset], input[type=submit] {
	padding: 0;
	overflow: visible;
	cursor: pointer;
}

button::-moz-focus-inner,
input[type=button]::-moz-focus-inner,
input[type=image]::-moz-focus-inner,
input[type=reset]::-moz-focus-inner,
input[type=submit]::-moz-focus-inner {
	border: 0;
}

.hide {
	position: absolute !important;
	left: -9999em !important;
}

.clearfix:after,
.campaign-widget-preview:after,
.edd_download_purchase_form:after,
.atcf_custom_price_wrap:after {
	content: ".";
	display: block;
	visibility: hidden;
	clear: both;
	height: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

.ie7 .clearfix {
	zoom: 1;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

del {
	text-decoration: line-through;
}

th, td {
	vertical-align: top;
}

th {
	font-weight: normal;
	text-align: left;
}

address, cite, dfn {
	font-style: normal;
}

abbr, acronym {
	border-bottom: 1px dotted #999;
	cursor: help;
}

sub,
sup {
	position: relative;
	font-size: 75%;
	line-height: 0;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

textarea {
	 overflow: auto;
}


/* Normalized Styles
------------------------------------------------------------------------------*/

html {
	-webkit-font-smoothing: antialiased;
}

body {
	font: 14px/20px 'Lato', serif;
	color: #565656;
	background: #fff url(images/bg_body.jpg) repeat;
}

body.fixed-header.admin-bar #header {
	top: 28px;
}

input, textarea, select {
	font-family: 'Lato', serif;
	outline: 0;
}

a, a:visited {
	text-decoration: none;
	color: #565656;
}

a:hover, a:active, a:focus {
	text-decoration: underline;
}

label {
	font-weight: bold;
}

input[type=text],
input[type=email],
input[type=search],
input[type=password],
input[type=number],
input[type=file],
textarea,
select {
	font-family: 'Lato';
	font-size: 12px;
	color: #565656;
	border: 1px solid #dbd9d4;
	letter-spacing: 1px;
	width: 200px;
	padding: 5px 9px;
	display: block;
	line-height: 21px;

	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

.wp-editor-container {
	margin-top: 8px;
	border: 1px solid #dbd9d4;
}

input[type=text],
input[type=email],
textarea {
	-webkit-appearance: none;
}

input.error {
	border: 1px solid red;
}

input[type=file] {
	width: auto;
}

input[type=submit]:not(#searchsubmit),
.entry-content .button:not(.add_media),
a.btn-green,
.edd-add-to-cart,
.edd_go_to_checkout {
	font-weight: 400;
	text-transform: uppercase;
	font-family: Lato;
	border: 0;
	font-size: 19px;
	border-radius: 4px;
	padding: 15px 20px;
	text-shadow: none;
	color: #fff;
	display: block;
	text-align: center;
	clear: both;
}

input[type=submit]:not(#searchsubmit),
.btn-green,
.entry-content .button:not(.add_media),
.edd-add-to-cart,
.edd_go_to_checkout {
	box-shadow: inset 0 -2px 0 rgba(0, 0, 0, .25);
}

a.edd-add-to-cart,
a.edd_go_to_checkout {
	color: #fff;
}

.entry-content .button {
	display: inline-block;
}

.edd-cart-saving-button.edd-submit.button,
.entry-content .edd_cart_footer_row input[type="submit"].edd-submit.button {
	font-size: 14px !important;
	display: inline-block !important;
	padding: 5px 10px !important;
}

code,
kbd,
pre,
samp {
	font-family: monospace, serif;
	_font-family: 'courier new', monospace;
	font-size: 14px;
	-webkit-hyphens: none;
	-moz-hyphens:    none;
	-ms-hyphens:     none;
	hyphens:         none;
}

pre {
	background: #f5f5f5;
	color: #666;
	font-family: monospace;
	font-size: 14px;
	margin: 20px 0;
	overflow: auto;
	padding: 20px;
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

/* Container
------------------------------------------------------------------------------*/

/* Clearing floats */
.clear:after,
#footer .last-widget:after {
	clear: both;
}

.clear:before,
.clear:after,
#footer .last-widget:before,
#footer .last-widget:after {
	content: "";
	display: table;
}

.container {
	width: 1140px;
	margin: 0 auto;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}


/* Header
------------------------------------------------------------------------------*/

#header {
	width: 100%;
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	z-index: 500;
	padding: 50px 0;
	background: #fff;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.20);

	-webkit-transition: all 300ms linear;
	   -moz-transition: all 300ms linear;
	     -o-transition: all 300ms linear;
	        transition: all 300ms linear;
}

#header.mini,
body.mini-header #header {
	padding: 30px 0;
}

body.fixed-header #header {
	position: fixed;
}

#logo {
	margin: 0 auto 0;
	display: block;
}

#logo img {
	display: block;
}

.site-title {
	font-family: 'Oswald';
	font-weight: 400;
	font-size: 26px;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: center;
	width: 100%;
	left: 0;
}

.site-title span {
	display: block;
}


/* Navigation
------------------------------------------------------------------------------*/

.menu-toggle {
	display: none;
}

#menu {
	height: 18px;
	position: absolute;
	width: 100%;
	top: 50%;
	pointer-events: none;

	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
}

#menu ul {
	position: absolute;
	z-index: 999;
	pointer-events: auto;
}

#menu .sub-menu {
	display: none;
	position: absolute;
	top: 25px;
	z-index: 999;
	background: #fff;
	border: 1px solid #c5c5c5;
	padding: 10px 0;
}

#menu ul ul li a {
	color: #565656;
	font-size: 14px;
	float: none;
	display: block;
	padding: 8px 20px;
}

#menu .right {
	right: 0;
}

#menu .right .sub-menu {
	right: 50px;
	left: auto;
}

#menu .right .sub-menu ul {
	left: -100%;
	right: auto;
}

#menu li {
	float: left;
	z-index: 999;
	position: relative;
	padding: 0 50px 0 0;
	letter-spacing: 2px;
}

#menu .right .sub-menu li {
	padding: 0;
}

#menu ul .sub-menu li {
	float: none;
	height: auto;
	width: 175px;
}

#menu a {
	font-family: 'Oswald';
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #878787;
	height: 40px;
	display: block;
}

#menu a:hover {
	text-decoration: none;
}


#menu li:hover > ul {
	display: block;
}

#menu .sub-menu .sub-menu {
	top: 0;
	left: 100%;
}

#menu ul ul a {
	height: auto;
}

/* Content
------------------------------------------------------------------------------*/

#home-page-featured {
	background: #000;
	position: relative;
	max-height: 552px;
	overflow: hidden;
	clear: both;
}

.home-page-featured-single {
	width: 100%;
	height: 100%;
	display: block;
	min-height: 550px;
}

#home-page-featured .home-page-featured-single img {
	min-width: 100%;
	min-height: 100%;
	height: auto;
}

#home-page-featured ul {
	margin: 0 -500px 0 0;
	height: 175px;
	overflow: hidden;
}

#home-page-featured li {
	float: left;
}

#home-page-featured img {
	float: left;
	position: relative;
	filter: alpha(opacity=41);
	opacity: 0.41;
	width: 175px;
	height: 175px;
}

#home-page-featured img:hover {
	filter: alpha(opacity=100);
	opacity: 1;
	z-index: 99;
	box-shadow: 0 0 6px 1px rgba(0, 0, 0, .7);
}

#home-page-featured h1 {
	text-align: center;
	position: absolute;
	width: 100%;
	top: 30%;
	color: #fff;
	line-height: 60px;
	font-size: 30px;
}

#home-page-featured h1 span {
	display: inline-block;
	margin: 0 0 10px;
	position: relative;
	letter-spacing: 2px;
	z-index: 99;
}

#home-page-featured h1 a {
	color: #fff;
	text-decoration: underline;
}

#home-page-featured h1 a:hover {
	text-decoration: none;
}

.contacts {
	margin: 30px 0;
}

.contacts .address {
	float: right;
	padding: 5px 0 43px;
	width: 550px;
}

.contacts .address .left {
	float: left;
	padding: 0;
	font-size: 13px;
	line-height: 23px;
	color: #05927d;
	width: 253px;
	padding: 0;
}

.contacts .address .left a {
	color: #05927d;
}

.contacts .div-c {
	clear: both;
	margin: 0 0 45px;
}

.contacts #respond input[type=submit] {
	margin: 18px 0 0;
}

.contacts #respond input[type=text] {
	width: 248px;
}

.contacts #respond textarea {
	height: 184px;
	width: 835px;
}

.comment-subscription-form {
	clear: both;
	float: right;
}

.contacts h2 {
	float: left;
	width: 500px;
	font-family: 'Oswald';
	font-size: 32px;
	letter-spacing: 3px;
	line-height: 40px;
	padding: 0 0 30px;
	color: #515151;
}

#title-image {
	position: relative;
	height: 470px;
	overflow: hidden;
}

#title-image .image {
	position: absolute;
	left: 50%;
	width: 2000px;
	text-align: center;
	margin: 0 0 0 -1000px;
}

#title-image .image img {
	min-width: 100%;
}

#title-image h1 {
	text-align: center;
	position: absolute;
	top: 30%;
	width: 100%;
	color: #fff;
	line-height: 60px;
	font-size: 29px;
}

#title-image h1 span {
	display: inline-block;
	margin: 0 0 10px;
	position: relative;
	letter-spacing: 2px;
	z-index: 99;
}

#title-image h1 a {
	color: #fff;
	text-decoration: underline;
}

#title-image h1 a:hover {
	text-decoration: none;
}

.title {
	height: 166px;
	text-align: center;
}

.title.pattern-1 {
	background: url(images/bg_title.png) repeat;
}

.title.pattern-2 {
	background: url(images/bg_title_2.png) repeat;
}

.title.pattern-3 {
	background: url(images/bg_title_3.png) repeat;
}

.title.pattern-4 {
	background: url(images/bg_title_4.png) repeat;
}

.title h1 {
	font-family: 'Oswald';
	font-size: 27px;
	line-height: 45px;
	padding: 57px 0 0;
	text-transform: uppercase;
	color: #515151;
	letter-spacing: 3px;
	text-shadow: 0 1px 0 #fff;
}

.title-two h1 {
	padding: 46px 0 0;
}

.title h3 {
	padding: 7px 0 0;
	line-height: 18px;
	font-size: 13px;
	text-transform: uppercase;
    font-family: 'Lato';
	color: #515151;
	letter-spacing: 1px;
	text-shadow: 0 1px 0 #fff;
}

.sort-tabs {
	margin: 0;
	height: 64px;
}

.sort-tabs h3 {
	font-family: 'Oswald';
	font-size: 20px;
	line-height: 28px;
	letter-spacing: 2px;
	padding: 0 15px 0 0;
	text-transform: uppercase;
	color: #515151;
	float: left;
}

.sort-tabs .dropdown:hover ul {
	display: block;
}

.sort-tabs .dropdown ul {
	display: none;
	position: absolute;
	top: 35px;
	z-index: 999;
	left: -5px;
	width: 138px;
	background: #fff;
	border: 1px solid #c5c5c5;
	padding: 16px 20px 7px;
}

.sort-tabs .dropdown ul li {
	float: none;
	height: auto;
	padding: 0;
	border: 0;
	margin: 0;
	height: auto;
}

.sort-tabs .dropdown ul li a {
	color: #565656;
	font-size: 14px;
	line-height: 20px;
	padding: 0;
	background: none;
	border: 0;
	margin: 0 0 9px;
	float: none;
	display: block;
}

.sort-tabs .dropdown ul li a.selected {
	display: none;
}

.sort-tabs .dropdown {
	position: relative;
	float: left;
}

.sort-tabs .dropdown .current {
	font-family: 'Oswald';
	font-size: 20px;
	line-height: 28px;
	cursor: pointer;
	margin: 0 0 0 -5px;
	height: 35px;
	float: left;
	letter-spacing: 2px;
	color: #04937f;
	text-transform: uppercase;
}

.sort-tabs ul {
	float: left;
}

.option-set.home {
	float: right;
}

.sort-tabs li {
	font-family: 'Oswald';
	font-size: 15px;
	line-height: 28px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #939393;
	margin: 0 18px 0 0;
	float: left;
}

.sort-tabs li a:hover,
.sort-tabs li a.selected {
	border: 1px solid #05927d;
	text-decoration: none;
	color: #05927d;
}

.sort-tabs li a {
	border: 1px solid #dbd9d4;
	color: #939393;
	float: left;
	padding: 0 25px;
	display: inline-block;
}

.project-details {
	margin-bottom: 40px;
	padding-bottom: 40px;
	border-bottom: 4px double #dbd9d4;
	overflow: hidden;
}

.project-details .image {
	width: 745px;
	float: left;
}

.project-details img {
	display: block;
	float: left;
}

.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	max-height: 396px;
}

.project-details .right-side {
	width: 300px;
	float: right;
	height: 336px;
	background: #f7f7f7;
	padding: 30px;
	position: relative;
}

.project-details h3 {
	font-family: 'Oswald';
	font-size: 46px;
	letter-spacing: 4px;
	line-height: 46px;
}

.project-details .fund {
	font-size: 12px;
	line-height: 17px;
	clear: both;
	position: absolute;
	bottom: 20px;
	margin-right: 30px;
}

.project-details .contribute-now {
	margin: 0 -30px;
	padding: 15px 30px;
	border: 1px solid #eee;
	border-width: 1px 0;
	background: #f3f3f3;
}

.project-details .contribute-now .btn-green.expired {
	opacity: 0.50;
	box-shadow: none;
}

.project-details .contribute-now .btn-green:hover {
	text-decoration: none;
}

.project-details li p {
	font: 700 14px/normal 'Lato', sans-serif;
	text-transform: uppercase;
	padding: 5px 0 8px;
}

.campaign-stats {
	overflow: hidden;
}

.campaign-stats li {
	margin-bottom: 20px;
}

.campaign-stats .progress .bar {
	margin: 3px 0 0;
}

.campaign-stats .progress .bar,
.campaign-stats .progress .bar span {
	height: 12px;
}

.campaign-stats .backer-count,
.campaign-stats .days-remaining {
	float: left;
	margin-right: 20px;
}

.div-c {
	border-top: 1px solid #dbd9d4;
	padding: 1px;
	margin: 40px 0 58px;
	border-bottom: 1px solid #dbd9d4;
	clear: both;
}

.search-box {
	float: right;
	height: 28px;
	position: relative;
	margin: 0 0 0;
	width: 170px;
	border: 1px solid #dbd9d4;
}

.entry-content .search-box {
	float: none;
}

.search-box input[type=text] {
	float: left;
	padding: 0 10px;
	border: 0;
	background: none;
	font-size: 12px;
	color: #939393;
	height: 28px;
	line-height: 28px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-family: 'Oswald';
	width: 138px;
}

#searchsubmit {
	margin: 3px 1px 0 0;
	float: right;
	background: none;
	border: 0;
}

#searchsubmit {
	color: #939393;
	font-size: 18px;
}

.entry-content .search-box {
	width: 99%;
}

.submit-content select {
	height: 33px;
	border: 1px solid #dbd9d4;
}

.submit-content input[type=text] {
	font-size: 12px;
	color: #565656;
	border: 1px solid #dbd9d4;
	letter-spacing: 1px;
	width: 200px;
	padding: 5px 9px;
	height: 21px;
	display: block;
	line-height: 21px;
}

.submit-content input[type=text]::-webkit-input-placeholder {
	color: #565656;
}

.submit-content input[type=text]::-moz-placeholder {
	color: #565656;
}

.submit-content input[type=submit] {
	background: #05927d;
	font-family: 'Oswald';
	border: 0;
	box-shadow: 0 2px 0 #006657;
	line-height: 43px;
	height: 43px;
	font-size: 19px;
	float: left;
	border-radius: 4px;
	letter-spacing: 2px;
	margin: 30px 0 0;
	font-weight: normal;
	padding: 0 24px;
	text-shadow: none;
	color: #fff;
}

.reward-description {
	display: block;
	margin-left: 240px;
}

.reward-description input.full {
	width: 100%;
}

.submit-content {
	margin: -5px 0 -10px;
}

.submit-content h3 {
	font-family: 'Oswald';
	font-size: 22px;
	letter-spacing: 2px;
	line-height: 26px;
	padding: 0 0 20px;
	color: #515151;
}

.submit-content .div {
	border-top: 1px solid #dbd9d4;
	padding: 1px;
	margin: 0 0 20px;
	border-bottom: 1px solid #dbd9d4;
}

.submit-content fieldset .div {
	margin: -5px 0 23px;
}

.submit-content select.curr {
	float: left;
	height: 33px;
	margin: 0 0 0 10px;
}

#projects {
	border-top: 4px double #dbd9d4;
	padding: 42px 0 2px;
}

body.campaign-widget #projects {
	border: 0;
	padding: 0;
	margin: 5px;
}

body.campaign-widget #projects section {
	margin: 0;
}

body.campaign-widget #projects .item {
	margin: 0;
}

#projects.none {
	border-top: 0;
	clear: both;
}

#projects section {
	margin-right: -43px;
	overflow: visible !important;
}

#projects .item {
	font-family: 'Lato', sans-serif;
	width: 252px;
	background: #fff;
	float: left;
	padding: 0 0 7px;
	margin: 0 43px 32px 0;
	box-shadow: rgba(0, 0, 0, .20) 0 0 5px;
	overflow: hidden;
}

#projects .item:nth-child(4n) {
	margin-right: 0;
}

.digits {
	margin: 20px 17px 5px;
	color: #565656;
	font-size: 10px;
	overflow: hidden;
}

.digits ul {
	margin: 0;
	list-style: none  !important;
}

.digits li {
	float: left;
	width: 33%;
	text-transform: uppercase;
	margin: 0 !important;
}

.digits strong {
	font-weight: 700;
	font-size: 11px;
	display: block;
	margin: 0 0 -4px;
	color: #282828;
}

.bar {
	margin: 0 0 5px 0;
	background: #c5c5c5;
	height: 8px;
}

.bar span {
	float: left;
	background: #01a58d;
	height: 8px;
}

#projects .item img {
	display: block;
	min-width: 100%;
	max-width: 100%;
	height: auto;
}

#projects h3 {
	font-size: 15px;
	font-weight: 700;
	color: #515151;
	margin: 17px 17px 10px;
	letter-spacing: 1px;
}

#projects p {
	font-size: 14px;
	line-height: 20px;
	margin: 0 17px;
}

.campaign-ribbon {
	background-color: #ef912a;
	overflow: hidden;
	position: absolute;
	left: -2.5em;
	top: 1.5em;

	-webkit-transform: rotate(-40deg);
	-moz-transform:    rotate(-40deg);
	transform:         rotate(-40deg);
}

.campaign-ribbon a {
	font: 700 11px 'Lato', sans-serif;
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	text-decoration: none;
	display: block;
	margin: 0.05em 0 0.075em 0;
	padding: 6px 3em 6px;
}

.campaign-ribbon.featured {
	background-color: #00a6de;
}

.campaign-ribbon.featured a {
	padding-left: 3.75em;
}

.campaign-ribbon.success {
	background-color: #04937f;
	padding-left: 0.65em;
}

.campaign-ribbon.unsuccess {
	background-color: #eb5959;
}

#content {
	padding: 37px 0 50px;
}

#content:after {
	clear: both;
	content: "";
	display: table;
}

#sidebar {
	width: 360px;
	float: right;
}

.sidebar-widgets,
.widget-bio,
.single-reward-levels {
	padding: 20px;
	background: #f7f7f7;
}

#sidebar .widget {
	border-bottom: 4px double #dbd9d4;
	padding: 20px;
}

#sidebar .widget ul {

}

#sidebar .widget:last-child {
	border: 0;
}

#sidebar .widget:last-child ul {
	border: 0;
}

#sidebar .widget ul li {
	line-height: 20px;
	padding: 0 0 9px 3px;
	margin: 0 0 0 15px;
	list-style: outside circle;
}

#sidebar .widget ul li a {
	font-size: 13px;
}

#sidebar .widget h3 {
	font-family: 'Oswald';
	font-size: 19px;
	letter-spacing: 2px;
	text-transform: uppercase;
	line-height: 25px;
	padding: 0 0 12px;
	color: #515151;
}

#sidebar .search-box {
	height: 28px;
	position: relative;
	background: #fff;
	width: 100%;
	overflow: hidden;
	float: none;
	border: 1px solid #dbd9d4;

	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

#sidebar .search-box .icon-search {
	z-index: 1;
}

#sidebar .search-box input[type=submit] {
	position: relative;
	z-index: 2;
}

#sidebar img {
	max-width: 100%;
}

#wp-calendar {
	width: 100%;
}

#wp-calendar th,
#wp-calendar td {
	text-align: center;
}

#wp-calendar caption {
	font-weight: bold;
	margin-bottom: 10px;
}

#sidebar .widget-bio {
	margin-bottom: 25px;
	border-bottom: 0 !important;
}

.widget-bio .avatar,
.single-author-bio .avatar {
	float: left;
}

.author-bio {
	margin-left: 50px;
	overflow: hidden;
	min-height: 40px;
}

.author-bio.big {
	margin-left: 100px;
	min-height: 80px;
}

.author-bio.big p:first-child {
	margin-top: 0;
}

.author-bio-desc {
	clear: both;
}

.author-contact {
	margin-top: 15px;
}

.author-contact .btn-green {
	background: #aaa;
}

#sidebar .widget-bio .author-bio-links,
#sidebar .widget-bio .author-bio-links li {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar .widget-bio .author-bio-links {
	margin: 15px 0;
	clear: both;
}

#sidebar .widget-bio .author-bio-links li {
	margin: 0 0 6px;
	padding: 0;
	list-style: none;
}

#sidebar .widget-bio .author-bio-links li a {
	line-height: 30px;
}

.author-bio-links a {
	font-family: 'Lato';
}

.author-bio-links i {
	font-size: 18px;
}

.contact-facebook i {
	color: #3a5799;
}

.contact-twitter i {
	color: #34ccfb;
}

.contact-link,
.contact-twitter,
.contact-facebook {
	height: 24px;
	margin-bottom: 10px;
}

.contact-twitter a:before,
.contact-facebook a:before {
	margin-left: 3px;
	margin-right: 8px;
	font-size: 18px;
	vertical-align: text-bottom;
}

.author-bio p {
	margin-top: 8px;
}

.single-author-bio .author-bio-links {
	overflow: hidden;
}

.single-author-bio .author-bio-links li {
	float: left;
	margin-right: 20px;
	margin-bottom: 0;
}

#main-content {
	width: 745px;
	float: left;
}

#main-content .entry-content {
	overflow: hidden;
	padding: 20px 0;
}

#main-content .entry-content.inner {
	padding-top: 0;
}

#main-content .post-meta {
	overflow: hidden;
	padding: 18px 0 11px;
	margin: 0 0 3px;
	border-bottom: 4px double #dbd9d4;
}

#main-content .post-meta.campaign-meta {
	padding-top: 0;
}

#main-content .post-meta div {
	float: left;
	line-height: 30px;
	font-size: 13px;
	margin-right: 20px;
}

#main-content .post-meta i {
	font-size: 24px;
	vertical-align: middle;
	color: #a4a4a4;
}

#main-content .post-meta .comments {
	float: left;
}

#main-content .post-meta .location {
	float: left;
}

#main-content .image {
	padding: 0 0 20px;
}

#main-content .image img {
	display: block;
	max-width: 100%;
	height: auto;
}

.entry-content,
.entry-summary,
.mu_register {
	line-height: 24px;
}

.entry-content p,
.entry-summary p,
.comment-content p,
.mu_register p {
	margin: 0 0 24px;
	margin: 0 0 1.714285714rem;
	line-height: 20px;
}

.entry-content ol,
.comment-content ol,
.entry-content ul,
.comment-content ul {
	margin: 0 0 24px;
	margin: 0 0 1.714285714rem;
	line-height: 1.714285714;
}

.entry-content ul ul,
.comment-content ul ul,
.entry-content ol ol,
.comment-content ol ol,
.entry-content ul ol,
.comment-content ul ol,
.entry-content ol ul,
.comment-content ol ul {
	margin-bottom: 0;
}

.entry-content ul,
.comment-content ul,
.mu_register ul {
	list-style: disc outside;
}

.entry-content ol,
.comment-content ol {
	list-style: decimal outside;
}

.entry-content li,
.comment-content li,
.mu_register li {
	margin: 0 0 0 36px;
	margin: 0 0 0 2.571428571rem;
}

.entry-content blockquote,
.comment-content blockquote {
	margin-bottom: 24px;
	margin-bottom: 1.714285714rem;
	padding: 24px;
	padding: 1.714285714rem;
	font-style: italic;
}

.entry-content blockquote p:last-child,
.comment-content blockquote p:last-child {
	margin-bottom: 0;
}

.entry-content code,
.comment-content code {
	font-family: Consolas, Monaco, Lucida Console, monospace;
	font-size: 12px;
	font-size: 0.857142857rem;
	line-height: 2;
}

.entry-content pre code,
.comment-content pre code {
	display: block;
}

.entry-content abbr,
.comment-content abbr,
.entry-content dfn,
.comment-content dfn,
.entry-content acronym,
.comment-content acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

.entry-content address,
.comment-content address {
	display: block;
	line-height: 1.714285714;
	margin: 0 0 24px;
	margin: 0 0 1.714285714rem;
}

img.alignleft {
	margin: 12px 24px 12px 0;
	margin: 0.857142857rem 1.714285714rem 0.857142857rem 0;
}

img.alignright {
	margin: 12px 0 12px 24px;
	margin: 0.857142857rem 0 0.857142857rem 1.714285714rem;
}

img.aligncenter {
	margin-top: 12px;
	margin-top: 0.857142857rem;
	margin-bottom: 12px;
	margin-bottom: 0.857142857rem;
}

.entry-content embed,
.entry-content iframe,
.entry-content object,
.entry-content video {
	max-width: 100%;
	margin-bottom: 24px;
	margin-bottom: 1.714285714rem;
}

.entry-content dl,
.comment-content dl {
	margin: 0 24px;
	margin: 0 1.714285714rem;
}

.entry-content dt,
.comment-content dt {
	font-weight: bold;
	line-height: 1.714285714;
}

.entry-content dd,
.comment-content dd {
	line-height: 1.714285714;
	margin-bottom: 24px;
	margin-bottom: 1.714285714rem;
}

.entry-content table,
.comment-content table {
	border-bottom: 1px solid #ededed;
	color: #757575;
	font-size: 12px;
	font-size: 0.857142857rem;
	line-height: 2;
	margin: 0 0 24px;
	margin: 0 0 1.714285714rem;
	width: 100%;
}

.entry-content table caption,
.comment-content table caption {
	font-size: 16px;
	font-size: 1.142857143rem;
	margin: 24px 0;
	margin: 1.714285714rem 0;
}

.entry-content td,
.comment-content td {
	border-top: 1px solid #ededed;
	padding: 6px 10px 6px 0;
}

.entry-content .div {
	border-bottom: 1px solid #dbd9d4;
	margin: 35px 0 12px;
}

.entry-content blockquote {
	font-size: 16px;
	line-height: 32px;
	padding: 15px 48px 0;
	border-top: 1px solid #dbd9d4;
	margin: 15px 0 20px;
	border-bottom: 1px solid #dbd9d4;
	font-weight: bold;
}

.entry-content blockquote p {
	padding: 0 0 16px;
}

.entry-content h1 {
	font-size: 34px;
	line-height: 40px;
	padding: 20px 0 20px;
}

.entry-content h2 {
	font-size: 28px;
	line-height: 34px;
	padding: 0 0 20px;
}

.entry-content h3 {
	font-size: 20px;
	line-height: 26px;
	padding: 10px 0 20px;
}

.entry-content h3.sans,
.atcf-submit-campaign h3,
.atcf-profile h3 {
	font-family: 'Oswald';
	font-size: 22px;
	letter-spacing: 2px;
	line-height: 26px;
	padding: 0 0 11px;
	color: #515151;
	text-transform: uppercase;
}

.entry-content h4 {
	font-size: 18px;
	line-height: 26px;
	padding: 5px 0 15px;
}

.entry-content h5 {
	font-size: 14px;
	line-height: 20px;
	padding: 0 0 18px;
}

.entry-content h6 {
	font-size: 12px;
	line-height: 18px;
	padding: 0 0 18px;
}

#respond {
	overflow: hidden;
	padding: 0 0 35px;
}

#comments h2 {
	font-family: 'Oswald';
	font-size: 22px;
	letter-spacing: 2px;
	line-height: 26px;
	border-bottom: 1px solid #dbd9d4;
	padding: 0 0 14px;
	color: #515151;
}

#comments h3 {
	font-family: 'Oswald';
	font-size: 22px;
	letter-spacing: 2px;
	line-height: 26px;
	padding: 10px 0 20px;
	color: #515151;
}

#respond p {
	margin: 0 15px 21px 0;
}

#respond input[type=text]::-webkit-input-placeholder {
	color: #565656;
}

#respond input[type=text]::-moz-placeholder {
	color: #565656;
}

#respond textarea {
	font-size: 12px;
	color: #565656;
	border: 1px solid #dbd9d4;
	width: 100%;
	padding: 5px 9px;
	height: 187px;
	letter-spacing: 1px;
	display: block;
	margin: 0 0 0 0;
	line-height: 21px;
}

.logged-in #respond .comment-form-comment {
	float: none;
	width: 100%;
}

.logged-in #respond .comment-form-comment textarea {
	width: 100%;
}

#respond textarea::-webkit-input-placeholder {
	color: #565656;
}

#respond textarea::-moz-placeholder {
	color: #565656;
}

#respond .form-submit input {
	clear: both;
	float: right;
}

.logged-in-as {
	float: left;
}

#respond .form-submit {
	float: right;
	clear: both;
}

#comments .commentlist {
	margin: 2px 0 0;
	border-top: 1px solid #dbd9d4;
	padding: 10px 0;
}

#comments .commentlist .children {
	border-top: 1px solid #dbd9d4;
}

#comments .commentlist .children article {
	padding-left: 70px;
}

#comments .commentlist .children li:last-child article {
	border: 0;
}

#comments .commentlist li {
	border-bottom: 1px solid #dbd9d4;
	margin: 0 0 2px;
}

#comments .commentlist article {
	border-bottom: 1px solid #dbd9d4;
	overflow: hidden;
	padding: 20px 0 40px;
	margin: 0 0 2px;
}

#comments .commentlist li.first {
	border-top: 0;
}

#comments .commentlist .comment-meta {
	overflow: hidden;
	padding: 0;
	margin: 0 0 5px;
}

#comments .commentlist .comment-meta img {
	float: left;
	padding: 0 19px 0 0;
	margin: -4px 0 0;
}

#comments .commentlist .comment-content {
	padding: 0 0 0 72px;
}

#comments .commentlist .fn {
	font-size: 13px;
	padding: 4px 0 0;
	display: block;
	color: #006657;
	font-weight: bold;
}

#comments .commentlist time {
	font-size: 13px;
	display: block;
}

#comments .commentlist .fn a {
	color: #006657;
}

#comments .commentlist .reply {
	float: right;
	color: #565656;
}

#comments .commentlist .reply a {
	color: #565656;
}

#comments .commentlist .reply span {
	color: #006657;
	font-size: 18px;
}

.entry-content .atcf-submit-campaign input[disabled],
.entry-content .atcf-submit-campaign input[readonly] {
	opacity: 0.50;
}

.entry-content .atcf-submit-campaign input[type="text"],
.entry-content .atcf-submit-campaign input[type="file"],
.entry-content .atcf-submit-campaign input[type="number"],
.entry-content .atcf-submit-campaign textarea,
.entry-content .atcf-submit-campaign select {
	width: 100%;
}

.entry-content .atcf-submit-campaign-length,
.entry-content .atcf-submit-campaign-goal,
.entry-content .atcf-submit-campaign-image,
.entry-content .atcf-submit-campaign-video {
	float: left;
	width: 48%;
	margin-right: 2%;
}

.entry-content .atcf-submit-campaign-length,
.entry-content .atcf-submit-campaign-video {
	margin-right: 0;
	float: right;
}

.atcf-submit-campaign-reward,
.atcf-submit-campaign-description,
.atcf-submit-campaign h3,
.atcf-profile h3 {
	clear: both;
	margin: 0 0 24px;
	margin: 0 0 1.714285714rem;
}

.atcf-submit-campaign h3,
.atcf-profile h3 {
	margin: 24px 0;
	margin: 1.714285714rem 0;
	padding: 20px 0;
	border-top: 4px double #dbd9d4;
	border-bottom: 4px double #dbd9d4;
}

.contact-campaign-author,
.campaign-updates-title {
	margin: 12px 0;
	border-bottom: 4px double #dbd9d4;
}

.atcf-submit-campaign h3:first-child,
.atcf-profile h3:first-child {
	margin-top: 0;
}

.atcf-submit-campaign-excerpt textarea,
.atcf-submit-campaign-video textarea {
	width: 100%;
}

.atcf-submit-campaign-reward {
	overflow: hidden;
}

.atcf-submit-campaign-rewards .atcf-submit-campaign-reward:last-of-type,
.atcf-submit-campaign-rewards .atcf-submit-campaign-reward:last-of-type p {
	margin-bottom: 0;
}

.entry-content .atcf-submit-campaign-reward-amount,
.entry-content .atcf-submit-campaign-reward-name,
.entry-content .atcf-submit-campaign-reward-limit,
.entry-content .atcf-submit-campaign-reward-remove {
	float: left;
	margin-bottom: 0;
}

.entry-content .atcf-submit-campaign-reward-amount {
	margin-right: 2%;
	width: 15%;
}

.entry-content .atcf-submit-campaign-reward-name {
	margin-right: 2%;
	width: 68%;
}

.entry-content .atcf-submit-campaign-reward-limit {
	margin-right: 2%;
	width: 8%;
}

.entry-content .atcf-submit-campaign-reward-file input,
.entry-content .atcf-submit-campaign-submit input[type="submit"] {
	-webkit-appearance: none;
}

.entry-content .atcf-submit-campaign-reward-remove {
	margin-right: 10px;
}

.entry-content .atcf-submit-campaign-reward-remove a {
	line-height: 38px;
}

.entry-content .atcf-submit-campaign-add-reward {
	margin: 10px 0 0;
}

.entry-content .atcf-submit-campaign-add-reward em {
	font-style: normal;
	border-bottom: 1px solid #ccc;
}

.entry-content .atcf-submit-campaign-add-reward a:hover {
	text-decoration: none;
}

.entry-content .atcf-submit-campaign-submit .button {
	display: inline-block;
	margin-right: 15px;
}

.atcf-toggle-neverending {
	float: right;
}

.atcf-multi-select {
	max-height: 225px;
	margin: 0;
	padding: 0;
	list-style: none;
	border: 1px solid #dbd9d4;
	padding: 20px;
	overflow: auto;
}

.atcf-multi-select li {
	width: 50%;
	float: left;
	display: inline;
	margin: 0;
	padding: 0;
}

#description_ifr {
	background: #fff;
}

.atcf-edd-terms-wrap {
	margin: 0 0 20px;
	padding: 20px 0;
	border-top: 4px double #dbd9d4;
	border-bottom: 4px double #dbd9d4;
}

.entry-content .atcf-submit-campaign-tos {
	margin-bottom: 0;
}

#edd_show_terms {
	margin: 0 0 10px;
}

nav.navigation {
	margin-top: 40px;
	padding-top: 16px;
	border-top: 4px double #dbd9d4;
}

a.post-edit-link,
a.comment-edit-link {
	color: #05927d;
}

.wp-caption {
	max-width: 100%;
	padding: 4px;
}

.wp-caption .wp-caption-text,
.gallery-caption,
.entry-caption {
	font-style: italic;
	font-size: 12px;
	line-height: 2;
	color: #757575;
}

.sticky,
.bypostauthor {

}

.entry-content .backer-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.entry-content .backer {
	margin: 0;
	padding: 10px;
	border-bottom: 1px dashed #ccc;
	overflow: hidden;
}

.entry-content .backer img {
	float: left;
}

.entry-content .backer-info {
	margin-left: 50px;
}

.atcf-profile .digits {
	margin: 0;
}

.entry-content .atcf-profile-campaigns {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
}

.entry-content .atcf-profile-campaigns .atcf-profile-campaign-overview {
	margin: 0 0 2em;
	background: #f7f7f7;
	padding: 17px;
}

.entry-content .atcf-profile-campaigns .atcf-profile-campaign-overview .actions {
	margin-bottom: 1.5em;
}

.entry-content .atcf-profile-campaigns .atcf-profile-campaign-overview .entry-title {
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 1px;
	margin: 0;
}

.entry-content .atcf-profile-campaigns .atcf-profile-campaign-overview .entry-title a {
	color: #515151;
}

.single-author-bio {
	padding: 25px 25px 16px;
	margin: 0 0 40px;
	background: #fff;
	border: 1px solid #eee;
}

.single-author-bio .author-bio-links {
	clear: both;
	margin-top: 20px;
	padding-top: 20px;
	border-top: 4px double #dbd9d4
}

.entry-share {
	font-family: 'Lato';
	font-weight: normal;
	color: #565656;
	vertical-align: top;
	line-height: 24px;
	border-bottom: 4px double #dbd9d4;
	padding: 18px 0 14px;
	margin-bottom: 30px;
}

.entry-share a {
	margin: 0 15px;
	display: inline-block;
}

.entry-share a:hover i {
	color: #a4a4a4;
	text-decoration: none;
}

.entry-share i {
	font-size: 24px;
}

.entry-share .share-twitter i {
	color: #00aced;
}

.entry-share .share-facebook i {
	color: #3b5998;
}

.entry-share .share-google i {
	color: #dd4b39;
}

.entry-share .share-pinterest i {
	color: #d53939;
}

.post-details .edd_errors {
	margin-bottom: 30px;
}

.edd_error {
	font-family: Lato;
	font-size: 14px;
}

.page-numbers {
	font-family: 'Lato';
	font-size: 25px;
	line-height: normal;
	color: #818080;
	background: #f8f7f5;
	display: inline-block;
	margin-right: 2px;
	padding: 10px 20px;
	border-radius: 2px;
}

a.page-numbers:hover {
	text-decoration: none;
}

.page-numbers.next,
.page-numbers.prev {
	padding: 10px;
}

/* Footer
------------------------------------------------------------------------------*/

#footer {
	clear: both;
	margin: 30px 0 0;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .10);
	padding: 83px 0;
	color: #005a4d;
	overflow: hidden;
	font-size: 15px;
	font-weight: bold;
	line-height: 24px;
}

#footer h3 {
	font-family: 'Oswald';
	font-size: 24px;
	color: #005a4d;
	line-height: 39px;
	letter-spacing: 3px;
	text-transform: uppercase;
	padding: 0 0 8px;
}

#footer h3 label {
	font-weight: normal;
}

#footer .browse-widget ul {
	float: left;
	width: 111px;
}

#footer p {
	padding: 0 0 18px;
}

#footer input[type=submit] {
	background: #005e50;
	font-family: 'Oswald';
	box-shadow: 0 2px 0 rgba(0, 0, 0, .10 );
	line-height: 38px;
	height: 38px;
	font-size: 19px;
	float: left;
	border-radius: 4px;
	letter-spacing: 2px;
	font-weight: normal;
	padding: 0 18px;
	text-shadow: none;
	color: #01a58d;
}

#footer input[type=text],
#footer input[type=email] {
	border: 0;
	width: 100%;
	padding: 5px 10px;
	background: #005e50;
	color: white;

	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
}

#footer .social-widget .icon-twitter {
	font-size: 45px;
}

#footer .social-widget li {
	font-size: 35px;
	margin: 5px 22px 0 -14px;
	text-align: center;
	color: #005e50;
	line-height: 40px;
	float: left;
}

#footer a {
	color: #005a4d;
}

#footer .footer-widget {
	margin-right: 40px;
	width: 225px;
	float: left;
}

#footer .footer-widget > div {
	margin-bottom: 40px;
}

#footer .footer-widget > div:last-child {
	margin-bottom: 0;
}

#footer .last-widget {
	width: 325px;
	float: right;
}

#footer .last-widget ul {
	margin: 0 -40px 28px 0;
	overflow: hidden;
}

#footer .last-widget .copy img {
	max-width: 100%;
	display: block;
}

#footer .last-widget .copy p {
	clear: right;
	font-size: 14px;
	font-family: 'Lato', Arial, Helvetica, sans-serif;
	font-weight: bold;
	letter-spacing: 1px;
	padding: 10px 0 0;
}

#footer .last-widget li {
	font-weight: normal;
	font-size: 23px;
	float: left;
	padding: 5px 40px 20px 0;
	letter-spacing: 2px;
	line-height: 39px;
	font-family: 'Oswald';
}

#footer .last-widget li strong {
	display: block;
	letter-spacing: 4px;
	padding: 0 0 7px;
	font-size: 40px;
	line-height: 30px;
}


/**
 * EDD
 */
.edd_cart_actions {
	width: 150px;
}

#edd_checkout_cart {
	width: 99%;
}

#edd_checkout_cart input.edd-item-quantity {
	float: left;
}

#edd_checkout_form_wrap p {
	margin-bottom: 18px;
}

#edd_purchase_form span.edd-description {
	line-height: normal;
}

#edd_purchase_form fieldset {
	margin: 2em 0;
}

#edd_purchase_form legend,
#edd_final_total_wrap {
	font-family: 'Oswald';
	font-size: 22px;
	letter-spacing: 2px;
	line-height: 26px;
	color: #515151;
	text-transform: uppercase;

	margin: 0 0 0.5em;
	padding: 20px 0;
	border-top: 4px double #dbd9d4;
	border-bottom: 4px double #dbd9d4;
}

#edd_checkout_form_wrap p#edd-anon-wrap {
	margin: 20px 0 0;
}

#edd_checkout_form_wrap p#edd-anon-wrap input {
	width: auto;
}

/** Single Contribute */
.single-reward-levels,
.single-reward-levels .edd_download_purchase_form {
	padding: 0;
}

.single-reward-levels h2,
.single-reward-levels .atcf_custom_price_wrap,
.single-reward-levels .edd_purchase_submit_wrapper {
	display: none;
}

.single-reward-levels .edd_price_options li {
	padding: 25px;
	border-bottom: 4px double #dbd9d4;
}

.single-reward-levels .edd_price_options.active li:not(.inactive):hover {
	background: #ededed;
	cursor: pointer;
}

.single-reward-levels .edd_price_options input {
	display: none;
}

/** Contribute */
.edd-add-to-cart:disabled {
	opacity: 0.50;
}

.edd_download_purchase_form h2 {
	font: normal 19px/25px 'Oswald';
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #515151;
	margin: 0 0 20px;
}

.atcf_custom_price_wrap {
	font-family: 'Lato';
	float: left;
	width: 72%;
}

.atcf_custom_price_wrap .currency {
	width: 7%;
	display: block;
	line-height: 53px;
}

.atcf_custom_price_wrap .currency.left {
	text-align: right;
}

.atcf_custom_price_wrap .currency.right {
	text-align: left;
}

.atcf_custom_price_wrap .currency.left,
.atcf_custom_price_wrap input.left {
	float: left;
}

.atcf_custom_price_wrap .currency.right,
.atcf_custom_price_wrap input.right {
	float: right;
}

.fundify-modal .atcf_custom_price_wrap input[type="text"] {
	font-size: 16px;
	margin: 0 0 0 8px;
	padding: 15px;
	width: 90%;
	display: inline-block;
}

.fundify-modal .atcf_custom_price_wrap + .edd_purchase_submit_wrapper {
	float: right;
	width: 25%;
	margin: 0;
}

.fundify-modal .edd_purchase_submit_wrapper .edd-add-to-cart,
.fundify-modal .edd_purchase_submit_wrapper .edd_go_to_checkout {
	margin: 0;
}

.edd_price_options ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.edd_price_options h3 label,
.edd_price_options .backer-count {
	font: normal 19px/25px 'Oswald';
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #515151;
}

.edd_price_options .backer-count {
	font-size: 16px;
	margin: 12px 0 8px;
}

.edd_price_options .backer-count i {
	line-height: 22px;
	display: inline-block;
	vertical-align: top;
}

.edd_price_options .limit,
.edd_price_options .gone {
	color: #6b6c48;
	font: bold 10px sans-serif;
	letter-spacing: 0;
	vertical-align: middle;
	display: inline-block;
	margin: -5px 0 10px;
	padding: 2px 5px;
	background: #fdffc7;
	border-radius: 2px;
}

.fundify-modal .edd_price_options .limit,
.fundify-modal .edd_price_options .gone {
	margin: 3px 0 0 10px;
}

.edd_price_options label {
	cursor: pointer;
}

.edd_price_options li.inactive label {
	cursor: text;
}

.edd_price_options li.inactive {
	opacity: 0.70;
	cursor: text;
}

.edd_price_options .edd_price_options {
	margin: 0;
}

.edd_purchase_submit_wrapper {
	margin-top: 30px;
}

.fundify-modal .edd_download_purchase_form {
	padding: 0;
}

.fundify-modal .edd_download_purchase_form .edd_price_options {
	padding-top: 20px;
	clear: both;
}

.fundify-modal .edd_download_purchase_form .edd_price_options li {
	margin: 26px 0;
}

.fundify-modal .edd_download_purchase_form .edd_price_options h3 {
	float: left;
}

.fundify-modal .edd_download_purchase_form .edd_price_options h3 input {
	display: inline-block;
	vertical-align: top;
	margin: 6px 3px 0 0;
}

.fundify-modal .edd_download_purchase_form .edd_price_options .backer-count {
	margin: 0;
	float: right;
}

.fundify-modal .edd_download_purchase_form .edd_price_options p {
	clear: both;
	margin: 8px 0 0;
}

/**
 * 8.0 Modals
 * ----------------------------------------------------------------------------
 */

.fundify-modal {
	position: relative;
	background: #FFF;
	padding: 5%;
	margin: 0 auto;
	width: auto;
	max-width: 500px;
	display: none;
}

.mfp-content .fundify-modal {
	display: block;
}

.modal-login,
.modal-register {
	text-align: center;
}

.modal-title {
	font: normal 19px/25px 'Oswald';
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #515151;
	margin: 0 0 16px;
	padding: 0;
	text-align: center;
}

.modal-login p,
.modal-register p {
	font: 16px 'Lato', sans-serif;
	margin: 0 0 20px;
}

.fundify-modal p a {
	color: #484848;
}

.fundify-modal form {
	text-align: left;
}

.fundify-modal input[type="text"],
.fundify-modal input[type="password"] {
	width: 100%;

	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
}

#share-widget {
	padding: 2%;
	max-width: 800px;
}

.campaign-widget-preview {
	margin: 5% auto;
	width: 90%;
}

.campaign-widget-preview-widget {
	width: 40%;
	float: left;
}

.campaign-widget-preview-use {
	width: 60%;
	float: right;
}

.campaign-widget-preview-use p {
	margin: 0 0 20px;
}

/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 502;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8;
  filter: alpha(opacity=80); }

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 503;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; }

.mfp-container {
  height: 100%;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 505; }

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto; }

.mfp-ajax-cur {
  cursor: progress; }

.mfp-zoom-out-cur,
.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
  cursor: auto; }

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }

.mfp-preloader {
  color: #cccccc;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 504; }

.mfp-preloader a {
  color: #cccccc; }

.mfp-preloader a:hover {
  color: white; }

.mfp-s-ready .mfp-preloader {
  display: none; }

.mfp-s-error .mfp-content {
  display: none; }

button.mfp-close,
button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  padding: 0;
  z-index: 506; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  padding: 0 0 18px 10px;
  color: white;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace; }
  .mfp-close:hover, .mfp-close:focus {
    opacity: 1; }
  .mfp-close:active {
    top: 1px; }

.mfp-close-btn-in .mfp-close {
  color: #333333; }

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: white;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; }

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #cccccc;
  font-size: 12px;
  line-height: 18px; }

.mfp-arrow {
  position: absolute;
  top: 0;
  opacity: 0.65;
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

.mfp-arrow:active {
  margin-top: -54px; }

.mfp-arrow:hover,
.mfp-arrow:focus {
  opacity: 1; }

.mfp-arrow:before, .mfp-arrow:after,
.mfp-arrow .mfp-b,
.mfp-arrow .mfp-a {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 35px;
  margin-left: 35px;
  border: solid transparent; }
.mfp-arrow:after,
.mfp-arrow .mfp-a {
  opacity: 0.8;
  border-top-width: 12px;
  border-bottom-width: 12px;
  top: 8px; }
.mfp-arrow:before,
.mfp-arrow .mfp-b {
  border-top-width: 20px;
  border-bottom-width: 20px; }

.mfp-arrow-left {
  left: 0; }
  .mfp-arrow-left:after,
  .mfp-arrow-left .mfp-a {
    border-right: 12px solid black;
    left: 5px; }
  .mfp-arrow-left:before,
  .mfp-arrow-left .mfp-b {
    border-right: 20px solid white; }

.mfp-arrow-right {
  right: 0; }
  .mfp-arrow-right:after,
  .mfp-arrow-right .mfp-a {
    border-left: 12px solid black;
    left: 3px; }
  .mfp-arrow-right:before,
  .mfp-arrow-right .mfp-b {
    border-left: 20px solid white; }

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px; }

.mfp-iframe-holder .mfp-content {
  line-height: 0;
  width: 100%;
  max-width: 900px; }

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }

.mfp-iframe-scaler iframe {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: black; }

.mfp-iframe-holder .mfp-close {
  top: -40px; }

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure:after {
  content: '';
  position: absolute;
  left: 0;
  top: 40px;
  bottom: 40px;
  display: block;
  right: 0;
  width: auto;
  height: auto;
  z-index: -1;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6); }

.mfp-figure {
  line-height: 0; }

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto; }

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #f3f3f3;
  word-break: break-word;
  padding-right: 36px; }

.mfp-figure small {
  color: #bdbdbd;
  display: block;
  font-size: 12px;
  line-height: 14px; }

.mfp-image-holder .mfp-content {
  max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
   * Remove all paddings around the image on small screen
   */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0; }

  .mfp-img-mobile img.mfp-img {
    padding: 0; }

  /* The shadow behind the image */
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0; }

  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .mfp-img-mobile .mfp-bottom-bar:empty {
    padding: 0; }

  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px; }

  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0; }

  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px; } }
@media all and (max-width: 800px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75); }

  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0; }

  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%; }

  .mfp-container {
    padding-left: 6px;
    padding-right: 6px; } }
.mfp-ie7 .mfp-img {
  padding: 0; }
.mfp-ie7 .mfp-bottom-bar {
  width: 600px;
  left: 50%;
  margin-left: -300px;
  margin-top: 5px;
  padding-bottom: 5px; }
.mfp-ie7 .mfp-container {
  padding: 0; }
.mfp-ie7 .mfp-content {
  padding-top: 44px; }
.mfp-ie7 .mfp-close {
  top: 0;
  right: 0;
  padding-top: 0; }

/* Custom for ID */

.product-dashed-heading, .product-dashed-heading1 { 
	display: none;
}

.level-binding:hover {
	text-decoration: none;
}

/* For Pinit social icon: Haseeb */
.pinit-button {
	display: inline-block;
	text-align: center; }
#main-content .entry-share .pinit-button a {
	background: transparent !important;
	padding: 0 !important; }
.pinit-button a:before {
	content: '\f312';
	font-family: 'fontello';
	font-size: 22px; }